.lm-card
  display: flex
  border-radius: 4px
  background-color: $lm-white
  box-shadow: $box-shadow_blur_4
  box-sizing: border-box
  padding: 16px
  @media (min-width: 560px)
    padding: 20px 24px
