.declaration__section {
	box-sizing: border-box;
	display: block;
	padding: $multiplicity*3 0;
	border-top: 1px solid $lm-gray-opacity-8;
	font-size: 14px;
	/*font-weight: 600;*/
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	color: $lm-gray-2;
	&:first-child {
		border-top: none;
	}
	&:first-of-type {
		padding: 0 0 $multiplicity*3;
		border-top: none;
	}
	&:only-child {
		border-top: 1px solid $lm-gray-opacity-8;
	}
	&:last-child {
		padding: 0;
		.btn {
			height: auto;
			padding: 14px 24px;
			@media screen and (min-width: 560px) {
				padding: 16px 24px;
			}
		}
	}
}

