.d-markdown-layout__icon_list-ol {
	width: 16px;
	height: 16px;
	background: url('/dist/web/img/icons/svg/list-ol.svg') center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	fill: $lm-gray-3;
}

