$indent: 40px

$font-exo2: "Exo 2", sans-serif
$font-trebuchet: "Trebuchet MS", sans-serif

$card-indent-size: 45px
$card-width: 320px
$card-height: 480px - $card-indent-size
$card-border-radius: 12px
$card-border-width: 4px

$color-black: #000000
$color-grey: #666666
$color-gray-disabled: #b3b3b3
$color-white: #ffffff
$color-white-bg: #f2f2f2
$color-blue: #1698d9
$color-blue-hover: #2ea8e6
$color-pink: #d91667
$color-pink-hover: #e62e7a
$color-yellow: #ffff66

