@font-face
  font-family: "Proxima Nova"
  font-style: normal
  font-weight: normal
  src: url("../fonts/ProximaNova-Regular.eot") format("eot"),
  url("../fonts/ProximaNova-Regular.woff") format("woff"),
  url("../fonts/ProximaNova-Regular.ttf") format("truetype")

@font-face
  font-family: "Proxima Nova"
  font-style: italic
  font-weight: normal
  src: url("../fonts/ProximaNova-RegularIt.eot") format("eot"),
  url("../fonts/ProximaNova-RegularIt.woff") format("woff"),
  url("../fonts/ProximaNova-RegularIt.ttf") format("truetype")

@font-face
  font-family: "Proxima Nova"
  font-style: normal
  font-weight: 300
  src: url("../fonts/ProximaNova-Light.eot") format("eot"),
  url("../fonts/ProximaNova-Light.woff") format("woff"),
  url("../fonts/ProximaNova-Light.ttf") format("truetype")

@font-face
  font-family: "Proxima Nova"
  font-style: italic
  font-weight: 600
  src: url("../fonts/ProximaNova-SemiboldIt.eot") format("eot"),
  url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"),
  url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype")

@font-face
  font-family: "Proxima Nova"
  font-style: italic
  font-weight: bold
  src: url("../fonts/ProximaNova-SemiboldIt.eot") format("eot"),
  url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"),
  url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype")

@font-face
  font-family: "Black Jack"
  font-style: normal
  font-weight: normal
  src: url("../fonts/BLACKJAR.ttf") format("truetype")


