body
  overflow-x: hidden

.wrapper
  min-height: 100%
  height: auto
  margin: 0 auto -142px
  padding: 0 0 142px
  font-family: "Proxima Nova"
  font-weight: normal
  font-style: normal
  font-stretch: normal
  letter-spacing: normal
  .login__button
    font-size: 15px
    padding: 20px 26px
    border: 2px solid #ffffff
    text-transform: uppercase
    border-radius: 2px
    line-height: 15px
    color: #ffffff
    position: relative
    &:focus
      top: 1px
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
  .login__button_black
    &:hover
      border-color: #424d5d
      color: #424d5d
  .login__button_white
    &:hover
      border-color: #fff
      color: #ffffff
  .h3__title
    font-size: 40px
    font-weight: normal
    line-height: 50px

section, footer
  position: relative

.footer
  padding: 62px 0
  background-color: #ffffff
  text-align: center
  p
    margin: 0
    font-size: 12px
    font-weight: 600
    letter-spacing: 0.3px
    color: #545454
  span
    font-style: italic
