.textarea__notification_error {
	display: none;
	color: $lm-support-1;
	font-size: 8px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	margin-top: $multiplicity*2;
	text-transform: uppercase;
}

