.page_vacancy {
	width: 100% !important;
	background-color: $lm-white;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $lm-gray-2;
	position: relative;
	top: -16px;
	padding-top: 64px !important;
}

