.input_setup_studios {
	box-sizing: border-box;
	width: 100%;
	min-width: 336px;
	min-height: 44px;
	padding: 12px 16px;
	border: 1px solid $lm-gray-4;
	border-radius: 16px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $lm-gray-1;
	outline: none;
	margin-bottom: 0;
	@include placeholder_color_lm-gray-3();
}

