.section_profile_verification-specialist {
	box-sizing: border-box;
	background-color: rgba(40, 42, 54, 0.64);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
}

