.lm-m-cs-modals-text
  .lm-m-cs-rules-modal-text
    max-height: calc(100% - 100px)
    overflow-y: auto
    min-width: 70vw
    h2
      font-size: 18px
      font-weight: 600
      font-style: normal
      font-stretch: normal
      line-height: 1.33
      letter-spacing: 0.25px
      color: $lm-gray-1
    h3
      font-size: 14px
      font-weight: 600
      font-style: normal
      font-stretch: normal
      line-height: 1.29
      letter-spacing: 0.5px
      color: $lm-gray-1
    p
      font-size: 14px
      font-weight: 600
      font-style: normal
      font-stretch: normal
      line-height: 1.29
      letter-spacing: 0.5px
      color: $lm-gray-2
      section.padding-left-36
        padding-left: 36px
      section.padding-left-72
        padding-left: 72px
    .padding-bottom-8
      margin-bottom: 8px
.lm-m-cs-modals-container
  max-width: 376px
  border-radius: 8px
  margin: 0 auto
  padding: 20px
  section.lm-m-cs-modal-aside
    background-color: $lm-main_08
    padding: 16px
    border-radius: 8px
    margin: 20px 0
    font-size: 14px
    font-weight: 600
    font-style: normal
    font-stretch: normal
    line-height: 1.29
    letter-spacing: 0.5px
    color: $lm-main
    text-align: center
.lm-m-cs-line
  display: block
  height: 1px
  margin: 20px 0
  width: 100%
  background-color: $lm-gray-opacity-8

.lm-m-abuse
  max-width: 376px
  border-radius: 8px
  margin: 0 auto
  padding: 20px
  .title
    font-size: 12px
    text-align: center
