.tooltip__content_attention_verification-specialist {
	font-size: 8px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 1px;
	color: $lm-white;
	padding: 8px 12px;
	background-color: $lm-gray-1;
	text-transform: uppercase;
	border-radius: 16px;
	text-align: center;
	min-width: 155px;
	max-width: 170px;
	opacity: 1;
	position: absolute;
	top: -1.3em;
	right: 3.5em;
}

