.d-radio__mark {
	display: none;
	width: 16px;
	height: 16px;
	margin-left: $multiplicity*2;
	&:checked + .d-radio__label {
		&::before {
			content: '';
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			transition: all 0.15s ease;
			border-color: $lm-main;
			background-color: $lm-main;
		}
		&::after {
			background-color: $lm-white;
		}
	}
	&:disabled {
		cursor: not-allowed;
	}
	&:disabled + .d-radio__label {
		color: $lm-gray-4;
		&::before {
			border-color: $lm-gray-4;
		}
	}
}

