// variables
@import common/variables

@import helpers/reset
@import helpers/colors
@import helpers/icons-v2
@import helpers/helpers
@import helpers/layout



//main page
@import main/index

// castings
@import castings/create

@import castings/list

@import castings/show

@import castings/response

// blog
@import blog/interviews
@import blog/articles

// register
@import register/index

// notifications
@import notifications/notifications
@import notifications/notifications-v2

// messages
@import messages/messages


//profile
@import profile/index

//banners
@import ui/banners

// CertifyingSpecialist
@import certifyingspecialist/index

// landing vs
@import landing/index

// common blocks
@import common/common

//static pages
@import static/static

//cinemarket
//@import cinemarket/home_cinemarket
//@import cinemarket/colors_cinemarket
//@import cinemarket/program_cinemarket
//@import cinemarket/pitches_cinemarket
//@import cinemarket/guest_cinemarket
//@import cinemarket/organizer_cinemarket
//@import cinemarket/partners_cinemarket

html
  background-color: transparent
  body
    background-color: #f3f4f6

.change-hash
  background: inherit
