<div class="menu no-auth top">
  <div class="nav menu__nav">
    <div class="nav__list nav__list_menu" >
      <a href="/" class="nav__item" >
        <svg class="icon icon_size_16 fill_gray-3" >
          <use xlink:href="/dist/img/icons/svg/sprite.svg#icon_profile" ></use>
        </svg>
      </a>
      <a href="/notifications" class="nav__item">
        <svg class="icon icon_size_16 fill_gray-3" >
          <use xlink:href="/dist/img/icons/svg/sprite.svg#lm-notification" ></use>
        </svg>
      </a>
      <a href="/boards/castings" class="nav__item">
        <svg class="icon icon_size_16 fill_gray-3" >
          <use xlink:href="/dist/img/icons/svg/sprite.svg#lm-home"></use>
        </svg>
      </a>
      <a href="/messages" class="nav__item">
        <svg class="icon icon_size_16 fill_gray-3" >
          <use xlink:href="/dist/img/icons/svg/sprite.svg#icon_chat"></use>
        </svg>
      </a>
      <a href="/" class="nav__item">
        <svg class="icon icon_size_16 fill_gray-3 ">
          <use xlink:href="/dist/img/icons/svg/sprite.svg#lm-menu"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
