<header id="header" class="lm-header top header_sticky header_white" style="position: sticky; top: 0px; z-index: 1000;">
  <div class="lm-wrapper">
    <div class="lm-header-left">
      <a href="/boards/castings" class="lm-header-logo">
        <svg class="d-icon">
          <use xlink:href="/dist/web/img/icons/svg/sprite.svg#lm-logo"></use>
        </svg>
      </a>
      <ul class="lm-header-left-menu">
        <li><a href="/boards/castings" class="lm-v3-header-link">Кастинги</a></li>
        <li><a href="/boards/locations" class="lm-v3-header-link">Локации</a></li>
        <li><a href="/professions" class="lm-v3-header-link">Профессионалы</a></li>
        <li><a href="/articles/" class="lm-v3-header-link">Блог</a></li>
      </ul>
    </div>
    <div class="lm-header-right">
      <a href="/boards/create" class="lm-v3-header-link">
        <div class="lm-v3-header-create-btn">
          <svg class="d-icon d-icon_size_16 lm-bg-main">
            <use xlink:href="dist/web/img/icons/svg/sprite.svg#controls_lm-plus-small"></use>
          </svg>
          <span>Добавить объявление</span>
        </div>
      </a>
    </div>
  </div>
</header>
