.tooltip__icon_info_profile-settings_verification-specialist {
	width: 16px;
	height: 16px;
	fill: $lm-gray-4;
	transition: all 0.25s ease-in-out;
	position: relative;
	cursor: pointer;
	&:hover {
		transition: all 0.25s ease;
		fill: $lm-gray-2;
	}
}

