.mb_0
  margin-bottom: 0

.mb_0_5
  margin-bottom: $multiplicity * .5

.mb_1
  margin-bottom: $multiplicity

.mb_2
  margin-bottom: $multiplicity * 2

.mb_3
  margin-bottom: $multiplicity * 3

.mb_4
  margin-bottom: $multiplicity * 4

.mb_4_5
  margin-bottom: $multiplicity * 4.5

.mb_5
  margin-bottom: $multiplicity * 5

.mb_6
  margin-bottom: $multiplicity * 6

.mb_8
  margin-bottom: $multiplicity * 8

.mb_9
  margin-bottom: $multiplicity * 9
