.card__title_response_contractor {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $lm-gray-1;
}

@import '_refusal/_card__title_response_contractor_refusal.scss';
