.lm-m-casting--page
  width: 100%
  height: 100%
  background-color: $lm-white
  -webkit-overflow-scrolling: touch
  padding-bottom: 130px
  box-sizing: border-box
  top: 0
  .lm-m-casting-page-user
    &.lm-user-block
      width: 100%
