.input_search {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	.icon_search {
		position: absolute;
		left: $multiplicity*4;
		z-index: 10;
	}
	.btn_close {
		position: absolute;
		right: $multiplicity*4;
	}
}

@import '_feed/_input_search_feed.scss';
