.d-nav_inline-bullet {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.d-nav__item {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: 0.5px;
		color: $lm-gray-2;
		margin-right: $multiplicity;
		margin-bottom: $multiplicity;
		&:last-child {
			margin-right: 0;
			&::after {
				content: '';
			}
		}
		&:only-child {
			margin-right: 0;
			&::after {
				content: '';
			}
		}
		&::after {
			content: '•';
			margin-left: $multiplicity;
			color: $lm-gray-opacity-64;
		}
	}
  .d-nav__text {
    opacity: 0.72;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.5px;
    margin: 0 0 12px;
    color: $lm-gray-2;
    ul {
      padding: 12px 0 12px 16px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

