.d-carousel {
  height: 320px;
  overflow: hidden;

  .d-carousel-slide {
    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
      box-sizing: border-box;
    }
  }

  .VueCarousel-pagination {
    bottom: 0;
    position: absolute;

    .VueCarousel-dot-container {
      width: 100%;
      display: flex;
      padding: 0 4px;
      margin-bottom: 4px;
      box-sizing: border-box;

      .VueCarousel-dot {
        flex: 1;
        margin: 0 !important;
        padding: 0 2px !important;

        .VueCarousel-dot-button {
          outline: none;
          width: 100% !important;
          height: 4px !important;
          border-radius: 2px !important;
          background: $lm-white-opacity-64 !important;
        }

        &--active {
          .VueCarousel-dot-button {
            background: $white !important;
          }
        }
      }
    }
  }
}
