.form__notification_declaration_required {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.5px;
	color: $lm-support-1;
	margin-top: 8px;
}

