.d-link {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $lm-main;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
	&:active {
		color: $lm-main-dark;
		transition: all 0.15s ease-in-out;
	}
	&:hover {
		color: #0063da;
		transition: all 0.15s ease-in-out;
	}
}

@import '_show-all/_d-link_show-all.scss';
@import '_back/_d-link_back.scss';
@import '_disable/_d-link_disable.scss';
@import '_d-footer/_d-link_d-footer.scss';
