.user--request_wrap
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.5px;
  color: #5c3396;
  padding: 16px;
  display: flex;
  justify-content: center;
  background: #fff;
  .user--request--left
    display: flex
    img
      height: 48px
      width: 48px
      object-fit: cover
  .user--request--right
    display: flex
