.lm-m-cs-container-modal
  display: flex
  margin: 4px 24px 0
  justify-content: flex-start
  flex-direction: column
  min-height: calc(100vh - 91px)
  max-width: 376px
  padding-bottom: 56px
  padding-top: 24px
  .title
    font-size: 18px
    font-weight: 600
    font-style: normal
    font-stretch: normal
    line-height: 1.33
    letter-spacing: 0.25px
    color: $lm-gray-1
    margin-bottom: 12px
  .desc
    font-size: 14px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1.29
    letter-spacing: 0.25px
    margin-bottom: 20px
    color: $lm-gray-2
  .lm-m-cs-link-modal
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 8px
    border: solid 1px $lm-main
    padding: 16px 24px
    margin-bottom: 16px
    &:nth-last-child
      margin-bottom: 24px
    .lm-m-cs-wrapper-text
      font-size: 14px
      font-weight: 600
      font-style: normal
      font-stretch: normal
      line-height: 1.29
      letter-spacing: 0.5px
      color: $lm-main
      flex-basis: 90%
    .lm-m-cs-wrapper-icon
      display: flex
      justify-content: center
      align-content: center
      width: 24px
      height: 24px
      border-radius: 8px
      background-color: $lm-main-08

.lm-bottom-actions-buttons
  padding: 0 24px

.lm-m-cs-checkbox-container
  display: flex
  align-items: center
  padding-top: 8px
  //margin-left: 32px

