.input__password {
  [class*='eye-'] {
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: 16px;
  }

  .eye-show {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="%23808792" fill-rule="evenodd" d="M15.871 8.492C15.744 8.716 12.707 14 8.001 14 3.268 14 .253 8.713.127 8.489a.998.998 0 0 1-.002-.975C.251 7.289 3.246 2 8 2c4.731 0 7.746 5.287 7.872 5.512a1 1 0 0 1 0 .98zM13.818 8C13.036 6.835 10.84 4 8 4 5.146 4 2.958 6.835 2.181 7.999 2.962 9.162 5.16 12 8.001 12c2.836 0 5.033-2.834 5.817-4z" clip-rule="evenodd"/><path fill="%23808792" d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>')
  }

  .eye-hide {
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.131 0L6.707 1.424C6.985 1.771 7.213 2.088 7.376 2.331C6.616 3.461 4.526 6.151 1.815 6.316L0 8.131C0.496 8.255 1.014 8.331 1.557 8.331C6.264 8.331 9.301 3.047 9.428 2.823C9.599 2.519 9.6 2.147 9.429 1.843C9.382 1.758 8.929 0.962 8.131 0Z" transform="translate(6.44336 5.66919)" fill="%23808792"/><path d="M0.293375 15.7072C0.488375 15.9022 0.744375 16.0002 1.00038 16.0002C1.25638 16.0002 1.51238 15.9022 1.70738 15.7072L15.7074 1.70725C16.0984 1.31625 16.0984 0.68425 15.7074 0.29325C15.3164 -0.09775 14.6844 -0.09775 14.2934 0.29325L11.5484 3.03825C10.5154 2.43125 9.33137 2.00025 8.00037 2.00025C3.24537 2.00025 0.251375 7.28925 0.126375 7.51425C-0.0426249 7.81725 -0.0416249 8.18625 0.128375 8.48925C0.198375 8.61425 1.17238 10.2913 2.82138 11.7653L0.292375 14.2942C-0.0976249 14.6842 -0.0976249 15.3162 0.293375 15.7072ZM2.18138 7.99925C2.95838 6.83525 5.14637 4.00025 8.00037 4.00025C8.74237 4.00025 9.43737 4.20125 10.0784 4.50825L8.51237 6.07425C8.34837 6.02925 8.17837 6.00025 8.00037 6.00025C6.89537 6.00025 6.00038 6.89525 6.00038 8.00025C6.00038 8.17825 6.02938 8.34825 6.07438 8.51225L4.24038 10.3462C3.28538 9.51025 2.55938 8.56225 2.18138 7.99925Z" fill="%23808792"/></svg>')
  }
}
