.lm-v3
    mim-width: 1136px
    .lm-wrapper
        margin: 0 auto
        width: 1136px
    .lm-content
        margin: 0 auto
        width: 1136px
        //&.vs-wrapper
            width: 1000px
            margin: 0 auto
    #app
        padding-top: 0
        height: auto
        min-height: 100vh

