.btn_outline {
	background-color: transparent;
	border: 1px solid $lm-main;
	color: $lm-main;
/*	&:hover {
		transition: all 0.15s ease;
		background-color: $lm-main_08;
	}*/
	&:disabled {
		transition: all 0.15s ease;
		color: $lm-gray-opacity-32;
		background-color: transparent;
		border: 1px solid $lm-gray-4;
		pointer-events: none;
		cursor: default;
	}
}

