@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/latoregular.ttf), url(../fonts/latoregular.woff), url(../fonts/latoregular.woff2);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/latosemibold.ttf), url(../fonts/latosemibold.woff), url(../fonts/latosemibold.woff2);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/latobold.ttf), url(../fonts/latobold.woff), url(../fonts/latobold.woff2);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/latoheavy.ttf), url(../fonts/latoheavy.woff), url(../fonts/latoheavy.woff2);
}

@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Tahoma-Bold.ttf), url(../fonts/Tahoma-Bold.woff), url(../fonts/Tahoma-Bold.eot);
}


