.modal__content_declaration_casting {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: $multiplicity*8 $multiplicity*9;
	border-radius: 8px;
	background-color: $lm-white;
	width: 100%;
	max-width: 280px;
}

