<!doctype html>
<html lang="ru" class="lm-v2 lm-v3">
<head>
  <% include partials/head %>
</head>
<body>
<div class="app">
    <div class="modal-authentication page-container post-register">
        <div class="wrapper">
          <div class="flex-aling-center-column">
            <h2 class="heading heading_h2" id="title">Авторизация</h2>
          </div>
        </div>
    </div>
    <script type="text/javascript">
        const code = '<%=code%>';
        const social = '<%=social%>';

        if (window && window.opener) {
          if (code && social) {
            window.opener.postMessage({ auth: { code, social } }, window.opener.location);
          } else window.opener.postMessage({ error: 'Login failed' }, window.opener.location);
        } else document.getElementById("title").textContent = "Произошла ошибка";
      </script>
</body>
</html>
