.card_specialist-parameters_big {
	min-height: 84px;
	.card__header {
		span {
			font-size: 12px;
		}
	}
	.card__body {
		font-size: 18px;
		span {
			font-size: 28px;
		}
	}
	.card__icon {
		width: 12px;
		height: 12px;
		fill: $lm-gray-3;
	}
}

