.d-card {
	display: block;
	width: 100%;
	background-color: $lm-white;
	width: 100%;
	box-sizing: border-box;
	padding: $multiplicity*4 $multiplicity*5;
	border-radius: $multiplicity;
	margin-top: $multiplicity*4;
	box-shadow: $box-shadow_blur_down_4;
	&:first-child {
		margin-top: 0;
	}
	&:only-child {
		margin-top: 0;
	}
	&.bg-color_main_08 {
		border: solid 1px $lm-gray-opacity-8;
	}
}


@import '_outline/_d-card_outline.scss';
