.form__controls_filters {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $lm-white;
	box-shadow: $box-shadow_blur_up_4;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	min-height: 56px;
	max-height: 56px;
	box-sizing: border-box;
	padding: $multiplicity*2 $multiplicity*6;
	border-radius: $multiplicity/2;
	.row {
		width: 100%;
		max-width: 376px;
	}
}

