.feed__counter_responses {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.3px;
	color: $lm-gray-3;
	height: 28px;
	display: flex;
	align-items: flex-end;
	line-height: 1.4;
	height: 33px;
}

