.d-btn_share {
	position: relative;
	color: $lm-gray-3;
	background-color: $lm-gray-5;
	transition: all 0.25s ease-in-out;
  min-width: 169px;
  &.d-btn_primary {
    background-color: #0163E9;
    fill: #FFFFFF;
    color: #FFFFFF;
    &:hover {
      transition: all 0.15s ease;
      fill: $lm-white;
      background-color: $lm-main-dark;
    }
    &:active {
      transition: all 0.15s ease;
      fill: $lm-white;
      background-color: $lm-main-light;
    }
    &:disabled {
      transition: all 0.15s ease;
      color: $lm-gray-opacity-32;
      background-color: $lm-gray-5;
      pointer-events: none;
      cursor: default;
    }
  }
  .d-icon + div {
  	font-size: 12px !important;
  }
}

@import '_active/_d-btn_share_active.scss';
