.form__button_close_declaration {
	box-sizing: border-box;
	min-width: 24px;
	max-width: 24px;
	max-height: 24px;
	height: 24px;
	border: none;
	border-radius: 8px;
	background-color: $lm-support-1;
	padding: $multiplicity;
}

