.tag_active {
	transition: all 0.15s ease;
	color: $lm-white;
	background-color: $lm-main;
	position: relative;
	padding: $multiplicity*2 $multiplicity*3;
	width: 64px;
/*	&:hover {
		transition: all 0.15s ease;
		color: $lm-white;
		background-color: $lm-main-dark;
	}*/
	.tag__icon_close {
		display: block;
		transition: all 0.15s ease;
	}
}

