.input__field {
	outline: none;
	box-sizing: border-box;
	border: 1px solid $lm-gray-4;
	border-radius: $multiplicity*2;
	height: 40px;
	padding: $multiplicity*3 $multiplicity*4;
	min-width: 200px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	color: $lm-gray-1;
	@include placeholder_color_lm-gray-3();
/*	&:hover {
		transition: all 0.15s ease;
		border-color: $lm-gray-opacity-32;
	}*/
	&:focus {
		transition: all 0.15s ease;
		border-color: $lm-main;
	}
	&:disabled {
		transition: all 0.15s ease;
		border-color: $lm-gray-5;
		background-color: $lm-gray-5;
		@include placeholder_color_lm-gray-opacity-32();
	}
}

@import '_icon/_input__field_icon.scss';
@import '_search/_input__field_search.scss';
@import '_filters/_input__field_filters.scss';
