.d-markdown-layout__text_strike {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $lm-gray-2;
	margin-top: $multiplicity*3;
}

