.form__label_declaration {
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 1px;
	color: lm-gray-2;
	text-transform: uppercase;
}

