.section__container_gallery_verification-specialist {
	box-sizing: border-box;
	width: 556px;
	background-color: $lm-gray-1;
	padding: 0 16px 16px;
	height: 100vh;
	position: relative;
	margin: 0;
}

