$navy-blue-1: #006df0
$navy-blue-2: #0377e9
$navy-blue-3: #0965d3
$navy-blue-4: #017fe2
$dark-gray: #a0a0a0
$gray-light: #afb0b5
$topaz-1: #76737f
$white: #FFFFFF
$turquoise: #2bd4eb
$sanmarino: #507299
$jacksons-purple: #445384
$pumpkin: #F76B1C

$color: #FDFCFD
$solitude: #FDFCFD
$white-1: #FDFCFD
$white-2: #FDFCFD
$white-3: #FDFCFD
$white-smoke-1: #FDFCFD
$white-smoke-2: #FDFCFD
$ghost-white: #FDFCFD
$whisper: #FDFCFD
$whitesmoke: #FDFCFD
$pattensblue: #FDFCFD
$zumthor: #F0EFF4
$zircon: #F0EFF4
$zircon-1: #F0EFF4
$zircon-2: #F0EFF4
$zircon-3: #F0EFF4
$zircon-4: #F0EFF4
$light-grey: #F0EFF4
$titan-white: #F0EFF4
$solitude-2: #F0EFF4
$solitude-3: #F0EFF4
$solitude-4: #F0EFF4
$solitude-5: #F0EFF4
$solitude-6: #F0EFF4
$solitude-7: #F0EFF4
$solitude-8: #F0EFF4
$solitude-9: #F0EFF4
$solitude-10: #F0EFF4
$solitude-11: #F0EFF4
$solitude-13: #F0EFF4
$solitude-14: #F0EFF4
$solitude-15: #F0EFF4
$solitude-18: #F0EFF4
$solitude-19: #F0EFF4
$solitude-20: #F0EFF4
$ghost-7: #F0EFF4
$ghost-96: #ddddde
$white-smoke: #F0EFF4
$white-smoke-3: #F0EFF4
$gainsboro: #F0EFF4
$gainsboro-1: #F0EFF4
$gainsboro-2: #F0EFF4
$gainsboro-3: #F0EFF4
$gainsboro-4: #F0EFF4
$spindle-1: #F0EFF4
$silver: #F0EFF4
$hawkes-blue: #F0EFF4
$hawkes-blue-1: #F0EFF4
$athens-grey: #F0EFF4
$solitude-1: #F0EFF4
$chetwode-blue: #B5B9C0
$aluminium: #B5B9C0
$dark-gray-1: #B5B9C0
$solitude-12: #B5B9C0
$solitude-16: #B5B9C0
$solitude-17: #B5B9C0
$link-water: #B5B9C0
$link-water-1: #B5B9C0
$link-water-2: #B5B9C0
$link-water-3: #B5B9C0
$link-water-4: #B5B9C0
$link-water-5: #B5B9C0
$link-water-6: #B5B9C0
$link-water-7: #B5B9C0
$link-water-8: #B5B9C0
$link-water-9: #B5B9C0
$link-water-10: #B5B9C0
$link-water-11: #B5B9C0
$lavender-grey: #B5B9C0
$lavender-grey-1: #B5B9C0
$heather: #B5B9C0
$heather-1: #B5B9C0
$heather-2: #B5B9C0
$logan: #B5B9C0
$logan-1: #B5B9C0
$logan-2: #B5B9C0
$casper: #B5B9C0
$ghost: #B5B9C0
$ghost-2: #B5B9C0
$ghost-3: #B5B9C0
$ghost-4: #B5B9C0
$ghost-5: #B5B9C0
$ghost-6: #B5B9C0
$mischka: #B5B9C0
$mischka-2: #B5B9C0
$mischka-3: #B5B9C0
$mischka-4: #B5B9C0
$mischka-5: #B5B9C0
$mischka-6: #B5B9C0
$grey-chateau: #B5B9C0
$grey-chateau-1: #B5B9C0
$grey-chateau-2: #B5B9C0
$grey-chateau-3: #B5B9C0
$grey-chateau-4: #B5B9C0
$spindle: #B5B9C0
$spun-pearl: #B5B9C0
$spun-pearl-2: #B5B9C0
$bluey-grey: #B5B9C0
$manatee: #B5B9C0
$manatee-1: #B5B9C0
$manatee-2: #B5B9C0
$heather: #B5B9C0
$heather-1: #B5B9C0
$heather-2: #B5B9C0
$heather-3: #B5B9C0
$echo-blue: #B5B9C0
$mortar: #6C7482
$big-stone: #6C7482
$blue-bayoux: #6C7482
$suva-grey: #6C7482
$rock-blue: #6C7482
$suva-grey-1: #6C7482
$suva-grey-2: #6C7482
$deluge: #6C7482
$topaz: #6C7482
$santas-grey: #6C7482
$shuttle-grey: #6C7482
$shuttle-grey-1: #6C7482
$shuttle-grey-2: #6C7482
$shuttle-grey-3: #6C7482
$storm-grey: #6C7482
$storm-grey-1: #6C7482
$mischka-1: #6C7482
$light-slate-grey: #6C7482
$light-slate-grey-1: #6C7482
$bali-hai: #6C7482
$shadylady: #6C7482
$raven: #6C7482
$raven-1: #6C7482
$bright-grey: #6C7482
$empress: #6C7482
$slate-grey: #6C7482
$smoky: #6C7482
$nobel: #6C7482
$nobel-1: #6C7482
$nobel-2: #6C7482
$сyprus: #6C7482
$chetwode-blue-1: #0E70E5
$torch-red: #0E70E5
$pacific-blue: #0E70E5
$crimson: #0E70E5
$dodger-blue-1: #0E70E5
$steel-blue: #0E70E5
$royal-blue-1: #0E70E5
$cerulean: #0E70E5
$alizarin: #0E70E5
$mango-tango: #F5A623
$dark-tangerine: #F5A623
$sunglow: #F5A623
$yellow-sea: #F5A623
$grandis: #F5A623
$energy-yellow: #F5A623
$dandelion: #F5A623
$orange: #F5A623
$lightning-yellow: #F5A623
$lightning-yellow-1: #F5A623
$green-jungle: #20DBA9
$honeydew: #20DBA9
$lima: #20DBA9
$lime-green: #20DBA9
$lime-green-1: #20DBA9
$lime-green-2: #20DBA9
$lime-green-3: #20DBA9
$emerald: #20DBA9
$islamicgreen: #20DBA9
$de-york: #20DBA9
$islamicgreen-1: #20DBA9
$turquoise-blue: #20DBA9
$mayablue: #67D7FD
$deep-sky-blue: #67D7FD
$cornflower-blue: #67D7FD
$cornflower-blue-1: #67D7FD
$columbia-blue: #67D7FD
$kimberly: #573891
$medium-slate-blue: #573891
$dark-orchid: #573891
$light-slate-blue: #573891
$cinnabar: #FC2E5F
$flamingo: #FC2E5F
$fire-engine-red: #FC2E5F
$persian-red: #FC2E5F
$fire-engine-red-3: #FC2E5F
$fire-engine-red-4: #FC2E5F
$wild-watermelon: #FC2E5F
$crimson-1: #FC2E5F
$crimson-2: #FC2E5F
$alizarin-1: #FC2E5F
$alizarin-2: #FC2E5F
$alizarin-3: #FC2E5F
$radical-red: #FC2E5F
$radical-red-1: #FC2E5F
$burnt-sienna: #FC2E5F
$cardinal: #FC2E5F
$cardinal-1: #FC2E5F
$red: #FC2E5F
$venetian-red: #FC2E5F
$venetian-red-1: #FC2E5F
$venetian-red-2: #FC2E5F
$dark-pink: #FC2E5F
$hollywood-cerise: #FC2E5F
$tickle-me-pink: #FC2E5F

$fire-engine-red-5: #FC2E5F
$color-black-1: #0C111D
$tangaroa: #0C111D
$midnight-express: #0C111D
$tangaroa-1: #0C111D
$color-black: #0C111D
$martinique: #0C111D
$black-pearl: #0C111D
$black-russian-1: #0C111D
$black-russian: #0C111D
$black-rock: #0C111D
$black-rock-1: #0C111D
$black-rock-2: #0C111D
$valhalla: #0C111D
$valhalla-1: #0C111D
$valhalla-2: #0C111D
$valhalla-3: #0C111D
$charcoal: #0C111D
$charcoal-1: #0C111D
$haiti: #0C111D
$nero: #0C111D
$nero-1: #0C111D
$nero-2: #0C111D
$midnight-express: #0C111D
$arsenic: #0C111D
$bakers-chocolate: #0C111D
$jaguar: #0C111D
$mulled-wine: #0C111D
$night-rider: #0C111D
$corn-flower-blue: #0C111D
$navy: #0C47AB
$mariner: #0C47AB
$mariner-1: #0C47AB
$mariner-2: #0C47AB
$midnight-blue: #0C47AB
$fire-engine-red-2: #0C47AB
$free-speech-blue: #0C47AB
$summer-sky: #0C47AB
$san-marino: #0C47AB
$denim: #0C47AB
$tory-blue: #0C47AB
$resolution-blue: #0C47AB
$endeavour: #0C47AB
$fire-engine-red-1: #167EFB

$summer-sky-2: #167EFB
$summer-sky-3: #167EFB
$dodger-blue: #167efb
$dodger-blue-2: #167EFB
$denim-1: #167EFB
$denim-2: #167EFB
$royal-blue: #167EFB
$royal-blue-2: #167EFB


// bg-colors
$customer__status_online: #20dba9 // outdated

// colors
$lm-gray-1: #282a36
$lm-gray-2: #515562
$lm-gray-3: #808792
$lm-gray-4: #cbd0d8
$lm-gray-5: #f3f4f6
$lm-gray-6: #fbfbfb
$lm-white: #ffffff
$lm-main: #0063da
$lm-main-light: #297ce0
$lm-main-dark: #065ac0
$lm-support-1: #fc2e5f
$lm-support-2: #20dba9
$lm-support-3: #f5a623
$lm-support-4: #5c3396

// colors with opacity
$lm-main_08: #ebf3fc
$lm-support-1_08: #ffeef2
$lm-support-2_08: rgba(252, 46, 95, 0.08)
$lm-support-3_08: #fef8ed
$lm-gray-opacity-64: rgba(40, 42, 54, 0.64)
$lm-gray-opacity-32: rgba(40, 42, 54, 0.32)
$lm-gray-opacity-16: rgba(40, 42, 54, 0.16)
$lm-gray-opacity-8: rgba(40, 42, 54, 0.08)
$lm-gray-opacity-1: rgba(40, 42, 54, 0)

$lm-white-opacity-64: rgba(255, 255, 255, 0.64)
$lm-white-opacity-32: rgba(255, 255, 255, 0.32)
$lm-white-opacity-16: rgba(255, 255, 255, 0.16)
$lm-white-opacity-8: rgba(255, 255, 255, 0.8)
