<!doctype html>
<html lang="ru" class="lm-v2 lm-v3">
<% include partials/head %>
<body>
  <div class="app">
    <main class="page page_error page_error_404">
    <% include partials/menu %>
      <div class="page__container page__container_error page__container_error_404 wrapper lm-content vs-wrapper">
        <div>
          <h1 class="page__title page__title_error page__title_error_404">Раздел сайта не доступен</h1>
          <p class="page__paragraph page__paragraph_error page__paragraph_error_404">Просим прощения, но вход в данный раздел сайта
            <br class="paragraph__break paragraph__break_tablet"/>
            только для специализированных пользователей.
            <a class="page__link page__link_404" href="/">Перейти на главную</a>
          </p>
          <br class="paragraph__break">
          <br class="paragraph__break">
          <br class="paragraph__break paragraph__break_tablet">
          <p class="page__paragraph page__paragraph_error page__paragraph_error_404">
            Если вам нужна помощь в решении проблем напишите нам в
            <a target="_blank" class="page__link page__link_404" href="https://vk.com/link_muse">vk</a>
            или
            <a target="_blank" class="page__link page__link_404" href="https://www.facebook.com/linkmuseofficial/">facebook</a>,
            <br class="paragraph__break paragraph__break_tablet">
            либо отправьте письмо на
            <a target="_blank" class="page__link page__link_404" href="mailto:help@linkmuse.com">help@linkmuse.com</a>
          </p>
        </div>
        <img class="page__img page__img_error page__img_error_404" src="/dist/img/pages/page/_error/_404/error-404.svg" alt="Error. Page not found"/>
      </div>
    </main>
  </div>
</body>
</html>
