.select_profile-settings {
	box-sizing: border-box;
	border: 1px solid $lm-gray-4;
	background-color: transparent;
	min-height: 44px;
	padding: 12px 16px;
	border-radius: 16px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	color: $lm-gray-3;
	outline: none;
	margin-bottom: 0;
}

