.d-card_placement {
	border-radius: $multiplicity*2;
	padding: $multiplicity*4 $multiplicity*5 $multiplicity*5;
	background-color: $lm-main-08;
  position: relative;
  box-sizing: border-box;
	.d-card__description {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.29;
		letter-spacing: 0.25px;
		color: $lm-gray-2;
	}
  .card__price {
    min-width: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .d-text_normal {
      text-decoration: line-through;
    }
  }
	.d-icon_check {
		background-color: $lm-main;
		border-radius: 50%;
	}
  .line-border {
    width: 100% ;
    height: 1px;
    position: relative;
    background-color: $lm-gray-opacity-8;
  }
}

@import "_premium/_d-card_placement-premium.scss";
