.modal__content_verification_rules {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	padding: $multiplicity*9;
	border-radius: 16px;
	background-color: $lm-white;
	width: 100%;
	max-width: 800px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $lm-gray-2;
	text-align: left;
	ul {
		.list__item {
			&::before {
				content: '•';
				margin-right: 4px;
			}
		}
	}
	ol {
		list-style: none;
		counter-reset: li;
		li {
			margin-bottom: $multiplicity*5;
			&:first-child {
				margin-top: $multiplicity*4;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		li:before {
			font-weight: 600;
			counter-increment: li;
			content: counters(li,".") ". ";
		}
	}
}

