.switch__label {
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 1px;
	color: $lm-gray-2;
	text-transform: uppercase;
	margin-left: $multiplicity*4;
	&:first-child {
		margin-left: 0;
		margin-right: $multiplicity*4;
	}
}

