.mr_1
  margin-right: $multiplicity

.mr_2
  margin-right: $multiplicity * 2

.mr_3
  margin-right: $multiplicity * 3

.mr_4
  margin-right: $multiplicity * 4

.mr_5
  margin-right: $multiplicity * 5

.mr_6
  margin-right: $multiplicity * 6
