.profile-card__avatar {
  display: flex;
  img {
    width: 74px;
    height: 74px;
    border-radius: 4px;
  }
}

.profile-card__description {
  margin-top: 8px;
}

.profile-card__buttons {
  display: flex;
  letter-spacing: 1px;
  text-transform: uppercase;
  .vertical-dash {
    width: 1px;
    height: 16px;
    background-color: $lm-gray-opacity-8;
  }
}