.form__card_profile-settings_verification-specialist {
	flex: 1;
	min-width: 312px;
	max-width: 312px;
	box-sizing: border-box;
	border-radius: 16px;
	box-shadow: 0 1px 4px 0 rgba(40, 42, 54, 0.06);
	background-color: $lm-white;
	min-height: 150px;
	padding: 24px;
	margin-right: 32px;
	margin-top: 32px;
	&:nth-child(-n + 3) {
		margin-top: 0;
	}
	&:nth-child(3n) {
		margin-right: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	&:only-child {
		margin-right: 0;
	}
}

