.section__button_delete_img {
	padding: 8px;
	position: relative;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	height: auto;
	width: auto;
	line-height: normal;
	margin-right: 0;
}

