.section_responses
  .d-card
    box-shadow: none
  .d-card-np
    .d-card__description
      padding: 0 0 0 16px
  .d-card__slider
    width: 118px
    height: 118px
  .d-card__img
    display: flex
    .LazyImage__image
      width: 86px
      height: 86px
      border-radius: 8px
  .d-card__date_casting-creation
    display: flex
    div
      &:first-child
        margin-right: 8px
        &:after
          content: '\2022'
          color: rgba(40, 42, 54, 0.32)
          margin-left: 8px
