.ml_auto
  margin-left: auto

.ml_1
  margin-left: $multiplicity

.ml_2
  margin-left: $multiplicity * 2

.ml_3
  margin-left: $multiplicity * 3

.ml_4
  margin-left: $multiplicity * 4

.ml_5
  margin-left: $multiplicity * 5

.ml_6
  margin-left: $multiplicity * 6

.ml_7
  margin-left: $multiplicity * 7

.ml_9
  margin-left: $multiplicity * 9
