.form__input_change-link {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $lm-gray-3;
  text-transform: uppercase;
  position: absolute;
  padding-right: 16px;
  z-index: 1;
}
