.mt_0
  margin-top: 0

.mt_0_5
  margin-top: $multiplicity * .5

.mt_1
  margin-top: $multiplicity

.mt_1_5
  margin-top: $multiplicity * 1.5

.mt_2
  margin-top: $multiplicity * 2

.mt_3
  margin-top: $multiplicity * 3

.mt_4
  margin-top: $multiplicity * 4

.mt_5
  margin-top: $multiplicity * 5

.mt_6
  margin-top: $multiplicity * 6

.mt_9
  margin-top: $multiplicity * 9
