.label__decoration_number-of-section {
	position: relative;
	background-color: $lm-white;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

