.label_category {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 1px;
	color: $lm-gray-opacity-64;
	text-transform: uppercase;
}

