.d-markdown-layout__icon_italic {
	width: 16px;
	height: 16px;
	background: url('/dist/web/img/icons/svg/italic.svg') center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

