.card_specialist-parameters_small {
	box-sizing: border-box;
	width: 93px;
	height: 56px;
	border-radius: $multiplicity*2;
	border: solid 1px $lm-gray-4;
	padding: $multiplicity*3 $multiplicity*4;
}

