.d-markdown-layout__title {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.3px;
	color: $lm-gray-2;
	margin-bottom: $multiplicity*3;
}

