.modal_verification_rules {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw !important;
	min-height: 100vh;
	background-color: rgba(40, 42, 54, 0.64);
	overflow-y: auto;
	opacity: 0;
	z-index: -1;
	transition: all 0.35s ease-in-out;
	padding: $multiplicity*6;
}

