.input_error {
	.input__field {
		transition: all 0.15s ease;
		border-color: $lm-support-1;
	}
	.input__notification_error {
		transition: all 0.15s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

