html
  body
    &.custom-article-page
      background-color: transparent !important
      header
        margin-bottom: 0px !important
      *
        line-height: normal

.support-ref
  color: #0e70e5
  cursor: pointer
