@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

//Colors
$cm-white-1: white;
$cm-white-2: #E5E5E5;
$cm-black: #000000;

$cm-green-1: #9BBA3B;
$cm-green-2: #9BBA3B;

$cm-gray-1: rgba(0, 0, 0, 0.64);
$cm-gray-2: rgba(0, 0, 0, 0.12);
$cm-gray-3: rgba(0, 0, 0, 0.04);
$cm-gray-4: rgba(255, 255, 255, 0.64);

$cm-violet: #635FAA;
$cm-green: #9BBA3B;
$cm-pink: #D06DAA;

.cm-m-white {
  color: $cm-white-1 !important;
}

.cm-m-gray {
  color: $cm-green-1;
}

.cm-m-bg-gray {
  background-color: $cm-green-1 !important;
}

.cm-m-bg-white {
  background-color: $cm-white-1 !important;
}

.cm-m-bg-second {
  background-color: $cm-green !important;
}

.cm-m-bg-prime {
  background-color: $cm-violet !important;
}

.cm-m-color-prime {
  color: $cm-violet !important;
}

.cm-m-color-second {
  color: $cm-green !important;
}

.cm-m-color-gray {
  color: rgba($cm-white-1, .72) !important;
}

.event-day-2 {
  .cm-m-bg-prime {
    background-color: $cm-green !important;
  }

  .cm-m-color-prime {
    color: $cm-green !important;
  }

  .cm-m-bg-second {
    background-color: $cm-pink !important;
  }

  .cm-m-color-second {
    color: $cm-pink !important;
  }

  .cm-m-back-icon {
    background-image: url('data:image/svg+xml;utf-8,<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.645049 7.68536C0.282649 7.30031 0.282649 6.69969 0.645049 6.31464L5.62474 1.02371C6.01958 0.604198 6.6863 0.604199 7.08114 1.02371L7.35495 1.31463C7.71735 1.69968 7.71735 2.30031 7.35495 2.68536L3.93917 6.31463C3.57677 6.69968 3.57677 7.30031 3.93917 7.68536L7.35495 11.3146C7.71735 11.6997 7.71735 12.3003 7.35495 12.6854L7.08114 12.9763C6.6863 13.3958 6.01958 13.3958 5.62474 12.9763L0.645049 7.68536Z" fill="%23D06DAA"/></svg>') !important;
  }

  .cm-m-logo-menu-img {
    background-image: url('data:image/svg+xml;utf-8,<svg width="130" height="16" viewBox="0 0 130 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M129.701 0.298977H117.761V5.38166H120.149V2.76557H122.239V9.26841H124.328V13.0057H121.94V15.6965H130V13.0057H127.761V9.26841H125.224V2.76557H127.313V5.38166H129.701V0.298977Z" fill="%23D06DAA"/><path d="M115.672 0.298977H105.523V2.98981H106.792V13.0057H105.523V15.6965H117.911V12.8562H109.851V9.26841H116.269V6.57758H109.851V2.98981H115.672V0.298977Z" fill="%23D06DAA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M64.7776 15.6965H67.688L68.6581 13.0057H67.091L67.3149 12.2582H71.867L72.0909 13.0057H73.5088L74.4789 15.6965H77.6878L76.7923 13.0057H75.2998L72.6133 4.70895H74.1804L72.7625 0.298977H69.7775L68.285 4.70895H66.7179L64.2553 13.0057H65.6731L64.7776 15.6965ZM69.6283 4.48471L68.0611 9.79163H71.27L69.6283 4.48471Z" fill="%23D06DAA"/><path d="M50.7481 2.98981V0.298977H40.7483V4.6342H39.9275V15.6965H50.1511V12.9309H42.9871V9.26841H48.6586V6.57758H42.9871V4.70895H43.6587V2.98981H50.7481Z" fill="%23D06DAA"/><path d="M12.0923 2.98981V5.38166H9.70429V2.69083C9.70429 2.69083 5.15216 1.4949 4.48054 6.80182H3.13728V8.22198C3.13728 10.6886 4.18204 13.7531 8.65954 13.1552V10.4643H11.1968V14.9491C11.1968 14.9491 9.92817 15.9134 7.16704 15.9955C-0.370097 16.2197 0.00302836 7.99775 0.00302836 7.99775C0.00302836 7.99775 -0.295473 -6.40075e-06 7.31629 0C9.92817 0.0670777 11.0475 0.747453 11.0475 0.747453V2.98981H11.943V0.298981H22.8383V2.98981H18.9578V9.5674H20.3011V12.8562H24.1816V15.6965H13.2863V12.8562H17.1668V9.41791H15.8236V2.98981H12.0923Z" fill="%23D06DAA"/><path d="M25.6741 9.4179V15.6965H28.5098V9.5674H29.4053V6.65233L34.4798 15.6965H37.1663V4.7837H38.2111V0.298977H35.2261V4.6342H34.3306V9.5674L29.1815 0.298977H26.4949V9.4179H25.6741Z" fill="%23D06DAA"/><path d="M55.3749 12.7814V15.6965H52.3899V12.7814H50.7481V4.70895H52.3899V0.298977H55.5987L58.136 4.48471L60.7479 0.298977H63.7329V4.70895H62.2404V12.7814H63.7329V15.6965H60.7479V12.7814H59.2554V5.00793L56.7181 9.11892H56.1958L53.7331 5.23217V12.7814H55.3749Z" fill="%23D06DAA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M79.1057 15.6965V13.0057H80.0012V9.56741H79.1057V0.448479C79.1057 0.448479 79.8519 0.224243 83.3593 0.149498C86.8667 0.0747523 89.2547 1.34542 89.2547 4.63422C89.2547 7.92301 86.8667 8.96945 86.8667 8.96945L87.0905 9.56741H88.0607L90.0009 13.0057H89.0308L90.5233 15.6965H87.0905L85.598 13.0057H86.5682L84.7772 9.56741H82.9862V13.0057H82.1653V15.6965H79.1057ZM82.2399 2.84032V7.2503C82.2399 7.2503 86.0458 7.77351 86.1204 4.93319C86.195 2.09287 82.2399 2.84032 82.2399 2.84032Z" fill="%23D06DAA"/><path d="M94.9262 0.298977H91.9412V2.98981H93.1352V13.0057H91.9412V15.6965H94.9262V13.0057H96.1948V9.26841H96.4933L100.225 15.6965H104.03L102.389 13.0057H103.657L100.374 7.62402L103.06 2.98981H101.941L103.433 0.298977H100.001L98.5082 2.98981H99.6276L97.6873 6.57758H96.1948V2.98981H94.9262V0.298977Z" fill="%23D06DAA"/></svg>') !important;
  }

  .cm-m-icon-img {
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6667 5.66667H1.33333C0.979711 5.66667 0.640573 5.80715 0.390524 6.0572C0.140476 6.30724 0 6.64638 0 7.00001C0 7.35363 0.140476 7.69277 0.390524 7.94281C0.640573 8.19286 0.979711 8.33334 1.33333 8.33334H14.6667C15.0203 8.33334 15.3594 8.19286 15.6095 7.94281C15.8595 7.69277 16 7.35363 16 7.00001C16 6.64638 15.8595 6.30724 15.6095 6.0572C15.3594 5.80715 15.0203 5.66667 14.6667 5.66667Z" fill="%23D06DAA"/><path d="M14.6667 0.333344H1.33333C0.979711 0.333344 0.640573 0.473819 0.390524 0.723868C0.140476 0.973916 0 1.31305 0 1.66668C0 2.0203 0.140476 2.35944 0.390524 2.60949C0.640573 2.85953 0.979711 3.00001 1.33333 3.00001H14.6667C15.0203 3.00001 15.3594 2.85953 15.6095 2.60949C15.8595 2.35944 16 2.0203 16 1.66668C16 1.31305 15.8595 0.973916 15.6095 0.723868C15.3594 0.473819 15.0203 0.333344 14.6667 0.333344Z" fill="%23D06DAA"/><path d="M14.6667 11H9.33333C8.97971 11 8.64057 11.1405 8.39052 11.3905C8.14048 11.6406 8 11.9797 8 12.3333C8 12.687 8.14048 13.0261 8.39052 13.2762C8.64057 13.5262 8.97971 13.6667 9.33333 13.6667H14.6667C15.0203 13.6667 15.3594 13.5262 15.6095 13.2762C15.8595 13.0261 16 12.687 16 12.3333C16 11.9797 15.8595 11.6406 15.6095 11.3905C15.3594 11.1405 15.0203 11 14.6667 11Z" fill="%23D06DAA"/></svg>') !important;
  }

  .cm-m-icon-cross-img {
    background-image: url('data:image/svg+xml;utf-8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2759 0.724C13.0259 0.474039 12.6868 0.333618 12.3333 0.333618C11.9797 0.333618 11.6406 0.474039 11.3906 0.724L6.99994 5.11467L2.60928 0.724C2.35781 0.481123 2.02101 0.34673 1.67141 0.349768C1.32181 0.352806 0.987398 0.493031 0.740187 0.740242C0.492976 0.987453 0.352751 1.32187 0.349713 1.67147C0.346676 2.02106 0.481068 2.35786 0.723945 2.60933L5.11461 7L0.723945 11.3907C0.596598 11.5137 0.495022 11.6608 0.425144 11.8235C0.355265 11.9861 0.318483 12.1611 0.316945 12.3381C0.315406 12.5152 0.349142 12.6907 0.416183 12.8546C0.483224 13.0185 0.582228 13.1673 0.707419 13.2925C0.832609 13.4177 0.981478 13.5167 1.14534 13.5838C1.3092 13.6508 1.48477 13.6845 1.66181 13.683C1.83885 13.6815 2.01381 13.6447 2.17648 13.5748C2.33916 13.5049 2.48628 13.4033 2.60928 13.276L6.99994 8.88533L11.3906 13.276C11.6421 13.5189 11.9789 13.6533 12.3285 13.6502C12.6781 13.6472 13.0125 13.507 13.2597 13.2598C13.5069 13.0125 13.6471 12.6781 13.6502 12.3285C13.6532 11.9789 13.5188 11.6421 13.2759 11.3907L8.88528 7L13.2759 2.60933C13.5259 2.3593 13.6663 2.02022 13.6663 1.66667C13.6663 1.31311 13.5259 0.974037 13.2759 0.724Z" fill="%23D06DAA"/></svg>') !important;
  }

  .cm-m-loader-wrap {
    background-color: $cm-green;

    .load-circle {
      background-image: url('data:image/svg+xml;utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"><circle cx="50" cy="50" fill="none" stroke="%23D06DAA" stroke-width="8" r="24" stroke-dasharray="113.09733552923255 39.69911184307752" transform="rotate(95.6664 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.5s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>') !important;
    }
  }

  .cm-m-icon-star-series {
    &.active {
      background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6524 0.336314C11.8462 0.148797 12.1538 0.148798 12.3476 0.336315L14.7909 2.69992C14.9017 2.80715 15.0559 2.85723 15.2086 2.83563L18.5745 2.35954C18.8415 2.32177 19.0904 2.50258 19.137 2.76822L19.7243 6.11652C19.751 6.26843 19.8462 6.39953 19.9825 6.47182L22.9854 8.06509C23.2236 8.19149 23.3187 8.48406 23.2003 8.72636L21.7073 11.7804C21.6396 11.919 21.6396 12.081 21.7073 12.2196L23.2003 15.2736C23.3187 15.5159 23.2236 15.8085 22.9854 15.9349L19.9825 17.5282C19.8462 17.6005 19.751 17.7316 19.7243 17.8835L19.137 21.2318C19.0904 21.4974 18.8415 21.6782 18.5745 21.6405L15.2086 21.1644C15.0559 21.1428 14.9017 21.1929 14.7909 21.3001L12.3476 23.6637C12.1538 23.8512 11.8462 23.8512 11.6524 23.6637L9.2091 21.3001C9.09826 21.1929 8.94413 21.1428 8.79143 21.1644L5.42551 21.6405C5.15847 21.6782 4.9096 21.4974 4.86301 21.2318L4.27567 17.8835C4.24902 17.7316 4.15376 17.6005 4.01753 17.5282L1.01461 15.9349C0.776368 15.8085 0.681307 15.5159 0.799747 15.2736L2.29266 12.2196C2.36039 12.081 2.36039 11.919 2.29266 11.7804L0.799747 8.72636C0.681307 8.48406 0.776368 8.19149 1.01461 8.06509L4.01753 6.47182C4.15376 6.39953 4.24902 6.26843 4.27567 6.11652L4.86301 2.76822C4.9096 2.50258 5.15847 2.32177 5.42551 2.35954L8.79143 2.83563C8.94413 2.85723 9.09826 2.80715 9.2091 2.69992L11.6524 0.336314Z" fill="%23D06DAA"/></svg>') !important;
    }
  }

  .cm-m-container {
    .cm-m-page {
      .cm-m-page-content {
        .cm-m-wrapper-all-content {
          .cm-m-wrap-menu {
            .cm-m-wrap-icon {
              //border-bottom: 1px solid rgba($cm-pink, 0.72);
            }
          }
        }
      }
    }
  }
}

.event-day-3 {
  .cm-m-bg-prime {
    background-color: $cm-pink !important;
  }

  .cm-m-color-prime {
    color: $cm-pink !important;
  }

  .cm-m-bg-second {
    background-color: $cm-violet !important;
  }

  .cm-m-color-second {
    color: $cm-violet !important;
  }

  .cm-m-back-icon {
    background-image: url('data:image/svg+xml;utf-8,<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.645049 7.68536C0.282649 7.30031 0.282649 6.69969 0.645049 6.31464L5.62474 1.02371C6.01958 0.604198 6.6863 0.604199 7.08114 1.02371L7.35495 1.31463C7.71735 1.69968 7.71735 2.30031 7.35495 2.68536L3.93917 6.31463C3.57677 6.69968 3.57677 7.30031 3.93917 7.68536L7.35495 11.3146C7.71735 11.6997 7.71735 12.3003 7.35495 12.6854L7.08114 12.9763C6.6863 13.3958 6.01958 13.3958 5.62474 12.9763L0.645049 7.68536Z" fill="%23635FAA"/></svg>') !important;
  }

  .cm-m-logo-menu-img {
    background-image: url('data:image/svg+xml;utf-8,<svg width="130" height="16" viewBox="0 0 130 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M129.701 0.298977H117.761V5.38166H120.149V2.76557H122.239V9.26841H124.328V13.0057H121.94V15.6965H130V13.0057H127.761V9.26841H125.224V2.76557H127.313V5.38166H129.701V0.298977Z" fill="%23635FAA"/><path d="M115.672 0.298977H105.523V2.98981H106.792V13.0057H105.523V15.6965H117.911V12.8562H109.851V9.26841H116.269V6.57758H109.851V2.98981H115.672V0.298977Z" fill="%23635FAA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M64.7776 15.6965H67.688L68.6581 13.0057H67.091L67.3149 12.2582H71.867L72.0909 13.0057H73.5088L74.4789 15.6965H77.6878L76.7923 13.0057H75.2998L72.6133 4.70895H74.1804L72.7625 0.298977H69.7775L68.285 4.70895H66.7179L64.2553 13.0057H65.6731L64.7776 15.6965ZM69.6283 4.48471L68.0611 9.79163H71.27L69.6283 4.48471Z" fill="%23635FAA"/><path d="M50.7481 2.98981V0.298977H40.7483V4.6342H39.9275V15.6965H50.1511V12.9309H42.9871V9.26841H48.6586V6.57758H42.9871V4.70895H43.6587V2.98981H50.7481Z" fill="%23635FAA"/><path d="M12.0923 2.98981V5.38166H9.70429V2.69083C9.70429 2.69083 5.15216 1.4949 4.48054 6.80182H3.13728V8.22198C3.13728 10.6886 4.18204 13.7531 8.65954 13.1552V10.4643H11.1968V14.9491C11.1968 14.9491 9.92817 15.9134 7.16704 15.9955C-0.370097 16.2197 0.00302836 7.99775 0.00302836 7.99775C0.00302836 7.99775 -0.295473 -6.40075e-06 7.31629 0C9.92817 0.0670777 11.0475 0.747453 11.0475 0.747453V2.98981H11.943V0.298981H22.8383V2.98981H18.9578V9.5674H20.3011V12.8562H24.1816V15.6965H13.2863V12.8562H17.1668V9.41791H15.8236V2.98981H12.0923Z" fill="%23635FAA"/><path d="M25.6741 9.4179V15.6965H28.5098V9.5674H29.4053V6.65233L34.4798 15.6965H37.1663V4.7837H38.2111V0.298977H35.2261V4.6342H34.3306V9.5674L29.1815 0.298977H26.4949V9.4179H25.6741Z" fill="%23635FAA"/><path d="M55.3749 12.7814V15.6965H52.3899V12.7814H50.7481V4.70895H52.3899V0.298977H55.5987L58.136 4.48471L60.7479 0.298977H63.7329V4.70895H62.2404V12.7814H63.7329V15.6965H60.7479V12.7814H59.2554V5.00793L56.7181 9.11892H56.1958L53.7331 5.23217V12.7814H55.3749Z" fill="%23635FAA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M79.1057 15.6965V13.0057H80.0012V9.56741H79.1057V0.448479C79.1057 0.448479 79.8519 0.224243 83.3593 0.149498C86.8667 0.0747523 89.2547 1.34542 89.2547 4.63422C89.2547 7.92301 86.8667 8.96945 86.8667 8.96945L87.0905 9.56741H88.0607L90.0009 13.0057H89.0308L90.5233 15.6965H87.0905L85.598 13.0057H86.5682L84.7772 9.56741H82.9862V13.0057H82.1653V15.6965H79.1057ZM82.2399 2.84032V7.2503C82.2399 7.2503 86.0458 7.77351 86.1204 4.93319C86.195 2.09287 82.2399 2.84032 82.2399 2.84032Z" fill="%23635FAA"/><path d="M94.9262 0.298977H91.9412V2.98981H93.1352V13.0057H91.9412V15.6965H94.9262V13.0057H96.1948V9.26841H96.4933L100.225 15.6965H104.03L102.389 13.0057H103.657L100.374 7.62402L103.06 2.98981H101.941L103.433 0.298977H100.001L98.5082 2.98981H99.6276L97.6873 6.57758H96.1948V2.98981H94.9262V0.298977Z" fill="%23635FAA"/></svg>') !important;
  }

  .cm-m-icon-img {
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6667 5.66667H1.33333C0.979711 5.66667 0.640573 5.80715 0.390524 6.0572C0.140476 6.30724 0 6.64638 0 7.00001C0 7.35363 0.140476 7.69277 0.390524 7.94281C0.640573 8.19286 0.979711 8.33334 1.33333 8.33334H14.6667C15.0203 8.33334 15.3594 8.19286 15.6095 7.94281C15.8595 7.69277 16 7.35363 16 7.00001C16 6.64638 15.8595 6.30724 15.6095 6.0572C15.3594 5.80715 15.0203 5.66667 14.6667 5.66667Z" fill="%23635FAA"/><path d="M14.6667 0.333344H1.33333C0.979711 0.333344 0.640573 0.473819 0.390524 0.723868C0.140476 0.973916 0 1.31305 0 1.66668C0 2.0203 0.140476 2.35944 0.390524 2.60949C0.640573 2.85953 0.979711 3.00001 1.33333 3.00001H14.6667C15.0203 3.00001 15.3594 2.85953 15.6095 2.60949C15.8595 2.35944 16 2.0203 16 1.66668C16 1.31305 15.8595 0.973916 15.6095 0.723868C15.3594 0.473819 15.0203 0.333344 14.6667 0.333344Z" fill="%23635FAA"/><path d="M14.6667 11H9.33333C8.97971 11 8.64057 11.1405 8.39052 11.3905C8.14048 11.6406 8 11.9797 8 12.3333C8 12.687 8.14048 13.0261 8.39052 13.2762C8.64057 13.5262 8.97971 13.6667 9.33333 13.6667H14.6667C15.0203 13.6667 15.3594 13.5262 15.6095 13.2762C15.8595 13.0261 16 12.687 16 12.3333C16 11.9797 15.8595 11.6406 15.6095 11.3905C15.3594 11.1405 15.0203 11 14.6667 11Z" fill="%23635FAA"/></svg>') !important;
  }

  .cm-m-icon-cross-img {
    background-image: url('data:image/svg+xml;utf-8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2759 0.724C13.0259 0.474039 12.6868 0.333618 12.3333 0.333618C11.9797 0.333618 11.6406 0.474039 11.3906 0.724L6.99994 5.11467L2.60928 0.724C2.35781 0.481123 2.02101 0.34673 1.67141 0.349768C1.32181 0.352806 0.987398 0.493031 0.740187 0.740242C0.492976 0.987453 0.352751 1.32187 0.349713 1.67147C0.346676 2.02106 0.481068 2.35786 0.723945 2.60933L5.11461 7L0.723945 11.3907C0.596598 11.5137 0.495022 11.6608 0.425144 11.8235C0.355265 11.9861 0.318483 12.1611 0.316945 12.3381C0.315406 12.5152 0.349142 12.6907 0.416183 12.8546C0.483224 13.0185 0.582228 13.1673 0.707419 13.2925C0.832609 13.4177 0.981478 13.5167 1.14534 13.5838C1.3092 13.6508 1.48477 13.6845 1.66181 13.683C1.83885 13.6815 2.01381 13.6447 2.17648 13.5748C2.33916 13.5049 2.48628 13.4033 2.60928 13.276L6.99994 8.88533L11.3906 13.276C11.6421 13.5189 11.9789 13.6533 12.3285 13.6502C12.6781 13.6472 13.0125 13.507 13.2597 13.2598C13.5069 13.0125 13.6471 12.6781 13.6502 12.3285C13.6532 11.9789 13.5188 11.6421 13.2759 11.3907L8.88528 7L13.2759 2.60933C13.5259 2.3593 13.6663 2.02022 13.6663 1.66667C13.6663 1.31311 13.5259 0.974037 13.2759 0.724Z" fill="%23635FAA"/></svg>') !important;
  }

  .cm-m-loader-wrap {
    background-color: $cm-pink;

    .load-circle {
      background-image: url('data:image/svg+xml;utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"><circle cx="50" cy="50" fill="none" stroke="%23635FAA" stroke-width="8" r="24" stroke-dasharray="113.09733552923255 39.69911184307752" transform="rotate(95.6664 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.5s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>') !important;
    }
  }

  .cm-m-icon-star-series {
    &.active {
      background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6524 0.336314C11.8462 0.148797 12.1538 0.148798 12.3476 0.336315L14.7909 2.69992C14.9017 2.80715 15.0559 2.85723 15.2086 2.83563L18.5745 2.35954C18.8415 2.32177 19.0904 2.50258 19.137 2.76822L19.7243 6.11652C19.751 6.26843 19.8462 6.39953 19.9825 6.47182L22.9854 8.06509C23.2236 8.19149 23.3187 8.48406 23.2003 8.72636L21.7073 11.7804C21.6396 11.919 21.6396 12.081 21.7073 12.2196L23.2003 15.2736C23.3187 15.5159 23.2236 15.8085 22.9854 15.9349L19.9825 17.5282C19.8462 17.6005 19.751 17.7316 19.7243 17.8835L19.137 21.2318C19.0904 21.4974 18.8415 21.6782 18.5745 21.6405L15.2086 21.1644C15.0559 21.1428 14.9017 21.1929 14.7909 21.3001L12.3476 23.6637C12.1538 23.8512 11.8462 23.8512 11.6524 23.6637L9.2091 21.3001C9.09826 21.1929 8.94413 21.1428 8.79143 21.1644L5.42551 21.6405C5.15847 21.6782 4.9096 21.4974 4.86301 21.2318L4.27567 17.8835C4.24902 17.7316 4.15376 17.6005 4.01753 17.5282L1.01461 15.9349C0.776368 15.8085 0.681307 15.5159 0.799747 15.2736L2.29266 12.2196C2.36039 12.081 2.36039 11.919 2.29266 11.7804L0.799747 8.72636C0.681307 8.48406 0.776368 8.19149 1.01461 8.06509L4.01753 6.47182C4.15376 6.39953 4.24902 6.26843 4.27567 6.11652L4.86301 2.76822C4.9096 2.50258 5.15847 2.32177 5.42551 2.35954L8.79143 2.83563C8.94413 2.85723 9.09826 2.80715 9.2091 2.69992L11.6524 0.336314Z" fill="%23635FAA"/></svg>') !important;
    }
  }

  .cm-m-container {
    .cm-m-page {
      .cm-m-page-content {
        .cm-m-wrapper-all-content {
          .cm-m-wrap-menu {
            .cm-m-wrap-icon {
              //border-bottom: 1px solid rgba($cm-violet, 0.72);
            }
          }
        }
      }
    }
  }
}

.cm-m-head-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

.cm-m-head {
  //border-radius: 0 0 4px 4px;
  overflow: hidden;
  //padding-top: 16px;
}

//Margin
.mt_0 {
  margin-top: 0;
}

.mb_0 {
  margin-bottom: 0;
}

.mb_4 {
  margin-bottom: 4px;
}

.mb_12 {
  margin-bottom: 12px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mr_16 {
  margin-right: 16px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_24 {
  margin-right: 24px;
}

.ml_20 {
  margin-left: 20px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_32 {
  margin-bottom: 32px;
}

.mb_36 {
  margin-bottom: 36px;
}

.mb_48 {
  margin-bottom: 48px;
}

.lh-18 {
  line-height: 18px;
}

//Padding
.pt_0 {
  padding-top: 0;
}

.pb_0 {
  padding-bottom: 0;
}

.pb_16 {
  padding-bottom: 16px;
}

//Border
.br_4 {
  border-radius: 4px !important;
}

//.bt_none {
//  border-top: none;
//}

.bb_none {
  border-bottom: none !important;
}

.cm-wrap-content {
  padding: 0 24px;
}

.cm-m-loader-wrap {
  z-index: 1000;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: $cm-violet;

  .load-circle {
    width: 75px;
    height: 75px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling"><circle cx="50" cy="50" fill="none" stroke="%239bba3b" stroke-width="8" r="24" stroke-dasharray="113.09733552923255 39.69911184307752" transform="rotate(95.6664 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.5s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>');
  }
}

.cm-m-menu-list {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cm-m-menu-list-item {
    height: 100%;
  }
}

.cm-m-container {
  font-family: 'PT Sans', sans-serif;
  //background-color: $cm-white-1;
  display: flex;
  justify-content: center;

  .cm-m-page {
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 564px;
    width: 100%;

    .cm-m-page-content {
      justify-content: flex-start;
      text-align: center;
      box-sizing: border-box;

      .cm-m-wrapper-all-content {
        box-sizing: border-box;
        min-height: 100vh;
        text-align: left;

        &.menu_hide {
          padding-top: 73px;

          &.detail {
            padding-top: 56px;
          }
        }

        .cm-m-wrapper-content {
          &:not(.cm-m-head) {
            //padding-top: 24px;
          }

          &.fh {
            min-height: calc(100vh - 250px);
          }

          &:after {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
          }

          .cm-m-text-h4 {
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.5px;
            color: rgba($cm-white-1, .72);
          }
        }

        .cm-m-menu-cite {
          display: block;
          overflow-y: scroll;
          height: calc(100vh - 60px);
        }

        .cm-m-icon-cross-menu {
          display: block;
        }

        .cm-m-wrap-menu {
          transition: height 0.3s ease;
          padding: 0 24px;
          position: fixed;
          z-index: 999;
          width: 100%;
          box-sizing: border-box;
          top: 0;
          left: 0;

          &.active {
            padding: 0 24px 16px;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            width: calc(100% - 48px);
            height: 100vh;
          }

          &.hide {
            position: fixed;
            left: 0px;
            top: 0px;
            height: 56px;
            z-index: 10;
            width: calc(100% - 48px);
          }

          &.detail {
            padding-bottom: 0;
            border-radius: 0 0 4px 4px;

            .cm-m-wrap-icon {
              border-bottom: none;
            }
          }

          .cm-m-wrap-icon {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 0px;
            z-index: 2;
            position: relative;
            //border-bottom: 1px solid rgba($cm-green, 0.72);
            color: $cm-white-1;

            .cm-m-logo-menu {
              width: 100%;
              height: 64px;
              justify-content: center;
              display: flex;
              position: relative;
              align-items: center;
            }

            .cm-m-back-icon {
              padding: 20px 16px 20px 0;
              width: 16px;
              left: 0;
              top: 0;
              height: 24px;
              position: absolute;
              background-position: center left;
              background-repeat: no-repeat;
              background-image: url('data:image/svg+xml;utf-8,<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.645049 7.68536C0.282649 7.30031 0.282649 6.69969 0.645049 6.31464L5.62474 1.02371C6.01958 0.604198 6.6863 0.604199 7.08114 1.02371L7.35495 1.31463C7.71735 1.69968 7.71735 2.30031 7.35495 2.68536L3.93917 6.31463C3.57677 6.69968 3.57677 7.30031 3.93917 7.68536L7.35495 11.3146C7.71735 11.6997 7.71735 12.3003 7.35495 12.6854L7.08114 12.9763C6.6863 13.3958 6.01958 13.3958 5.62474 12.9763L0.645049 7.68536Z" fill="%23FFFFFF"/></svg>');
            }

            .cm-m-logo-menu-img {
              padding: 20px 0;
              width: 130px;
              height: 16px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('data:image/svg+xml;utf-8,<svg width="130" height="16" viewBox="0 0 130 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M129.701 0.298977H117.761V5.38166H120.149V2.76557H122.239V9.26841H124.328V13.0057H121.94V15.6965H130V13.0057H127.761V9.26841H125.224V2.76557H127.313V5.38166H129.701V0.298977Z" fill="%239BBA3B"/><path d="M115.672 0.298977H105.523V2.98981H106.792V13.0057H105.523V15.6965H117.911V12.8562H109.851V9.26841H116.269V6.57758H109.851V2.98981H115.672V0.298977Z" fill="%239BBA3B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M64.7776 15.6965H67.688L68.6581 13.0057H67.091L67.3149 12.2582H71.867L72.0909 13.0057H73.5088L74.4789 15.6965H77.6878L76.7923 13.0057H75.2998L72.6133 4.70895H74.1804L72.7625 0.298977H69.7775L68.285 4.70895H66.7179L64.2553 13.0057H65.6731L64.7776 15.6965ZM69.6283 4.48471L68.0611 9.79163H71.27L69.6283 4.48471Z" fill="%239BBA3B"/><path d="M50.7481 2.98981V0.298977H40.7483V4.6342H39.9275V15.6965H50.1511V12.9309H42.9871V9.26841H48.6586V6.57758H42.9871V4.70895H43.6587V2.98981H50.7481Z" fill="%239BBA3B"/><path d="M12.0923 2.98981V5.38166H9.70429V2.69083C9.70429 2.69083 5.15216 1.4949 4.48054 6.80182H3.13728V8.22198C3.13728 10.6886 4.18204 13.7531 8.65954 13.1552V10.4643H11.1968V14.9491C11.1968 14.9491 9.92817 15.9134 7.16704 15.9955C-0.370097 16.2197 0.00302836 7.99775 0.00302836 7.99775C0.00302836 7.99775 -0.295473 -6.40075e-06 7.31629 0C9.92817 0.0670777 11.0475 0.747453 11.0475 0.747453V2.98981H11.943V0.298981H22.8383V2.98981H18.9578V9.5674H20.3011V12.8562H24.1816V15.6965H13.2863V12.8562H17.1668V9.41791H15.8236V2.98981H12.0923Z" fill="%239BBA3B"/><path d="M25.6741 9.4179V15.6965H28.5098V9.5674H29.4053V6.65233L34.4798 15.6965H37.1663V4.7837H38.2111V0.298977H35.2261V4.6342H34.3306V9.5674L29.1815 0.298977H26.4949V9.4179H25.6741Z" fill="%239BBA3B"/><path d="M55.3749 12.7814V15.6965H52.3899V12.7814H50.7481V4.70895H52.3899V0.298977H55.5987L58.136 4.48471L60.7479 0.298977H63.7329V4.70895H62.2404V12.7814H63.7329V15.6965H60.7479V12.7814H59.2554V5.00793L56.7181 9.11892H56.1958L53.7331 5.23217V12.7814H55.3749Z" fill="%239BBA3B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M79.1057 15.6965V13.0057H80.0012V9.56741H79.1057V0.448479C79.1057 0.448479 79.8519 0.224243 83.3593 0.149498C86.8667 0.0747523 89.2547 1.34542 89.2547 4.63422C89.2547 7.92301 86.8667 8.96945 86.8667 8.96945L87.0905 9.56741H88.0607L90.0009 13.0057H89.0308L90.5233 15.6965H87.0905L85.598 13.0057H86.5682L84.7772 9.56741H82.9862V13.0057H82.1653V15.6965H79.1057ZM82.2399 2.84032V7.2503C82.2399 7.2503 86.0458 7.77351 86.1204 4.93319C86.195 2.09287 82.2399 2.84032 82.2399 2.84032Z" fill="%239BBA3B"/><path d="M94.9262 0.298977H91.9412V2.98981H93.1352V13.0057H91.9412V15.6965H94.9262V13.0057H96.1948V9.26841H96.4933L100.225 15.6965H104.03L102.389 13.0057H103.657L100.374 7.62402L103.06 2.98981H101.941L103.433 0.298977H100.001L98.5082 2.98981H99.6276L97.6873 6.57758H96.1948V2.98981H94.9262V0.298977Z" fill="%239BBA3B"/></svg>');
            }

            .cm-m-icon-img {
              width: 16px;
              height: 16px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6667 5.66667H1.33333C0.979711 5.66667 0.640573 5.80715 0.390524 6.0572C0.140476 6.30724 0 6.64638 0 7.00001C0 7.35363 0.140476 7.69277 0.390524 7.94281C0.640573 8.19286 0.979711 8.33334 1.33333 8.33334H14.6667C15.0203 8.33334 15.3594 8.19286 15.6095 7.94281C15.8595 7.69277 16 7.35363 16 7.00001C16 6.64638 15.8595 6.30724 15.6095 6.0572C15.3594 5.80715 15.0203 5.66667 14.6667 5.66667Z" fill="%239BBA3B"/><path d="M14.6667 0.333344H1.33333C0.979711 0.333344 0.640573 0.473819 0.390524 0.723868C0.140476 0.973916 0 1.31305 0 1.66668C0 2.0203 0.140476 2.35944 0.390524 2.60949C0.640573 2.85953 0.979711 3.00001 1.33333 3.00001H14.6667C15.0203 3.00001 15.3594 2.85953 15.6095 2.60949C15.8595 2.35944 16 2.0203 16 1.66668C16 1.31305 15.8595 0.973916 15.6095 0.723868C15.3594 0.473819 15.0203 0.333344 14.6667 0.333344Z" fill="%239BBA3B"/><path d="M14.6667 11H9.33333C8.97971 11 8.64057 11.1405 8.39052 11.3905C8.14048 11.6406 8 11.9797 8 12.3333C8 12.687 8.14048 13.0261 8.39052 13.2762C8.64057 13.5262 8.97971 13.6667 9.33333 13.6667H14.6667C15.0203 13.6667 15.3594 13.5262 15.6095 13.2762C15.8595 13.0261 16 12.687 16 12.3333C16 11.9797 15.8595 11.6406 15.6095 11.3905C15.3594 11.1405 15.0203 11 14.6667 11Z" fill="%239BBA3B"/></svg>');
            }

            .cm-m-icon-cross-img {
              width: 16px;
              height: 16px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('data:image/svg+xml;utf-8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2759 0.724C13.0259 0.474039 12.6868 0.333618 12.3333 0.333618C11.9797 0.333618 11.6406 0.474039 11.3906 0.724L6.99994 5.11467L2.60928 0.724C2.35781 0.481123 2.02101 0.34673 1.67141 0.349768C1.32181 0.352806 0.987398 0.493031 0.740187 0.740242C0.492976 0.987453 0.352751 1.32187 0.349713 1.67147C0.346676 2.02106 0.481068 2.35786 0.723945 2.60933L5.11461 7L0.723945 11.3907C0.596598 11.5137 0.495022 11.6608 0.425144 11.8235C0.355265 11.9861 0.318483 12.1611 0.316945 12.3381C0.315406 12.5152 0.349142 12.6907 0.416183 12.8546C0.483224 13.0185 0.582228 13.1673 0.707419 13.2925C0.832609 13.4177 0.981478 13.5167 1.14534 13.5838C1.3092 13.6508 1.48477 13.6845 1.66181 13.683C1.83885 13.6815 2.01381 13.6447 2.17648 13.5748C2.33916 13.5049 2.48628 13.4033 2.60928 13.276L6.99994 8.88533L11.3906 13.276C11.6421 13.5189 11.9789 13.6533 12.3285 13.6502C12.6781 13.6472 13.0125 13.507 13.2597 13.2598C13.5069 13.0125 13.6471 12.6781 13.6502 12.3285C13.6532 11.9789 13.5188 11.6421 13.2759 11.3907L8.88528 7L13.2759 2.60933C13.5259 2.3593 13.6663 2.02022 13.6663 1.66667C13.6663 1.31311 13.5259 0.974037 13.2759 0.724Z" fill="%239BBA3B"/></svg>');
            }
          }
        }

        .cm-m-maps {
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background-color: $cm-gray-3;
        }

        .cm-m-wrap-section {
          display: block;
          margin-bottom: 12px;

          .cm-list-item {
            border-radius: 4px;
            flex-direction: row;
            align-items: center;
            padding: 12px 24px;

            * {
              color: $cm-white-1;
              display: inline-block;
              vertical-align: middle;
            }

            .cm-m-icon-section {
              width: 16px;
              height: 16px;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.692634 5.69263L13.6354 5.69263L10.5471 8.78116C10.2765 9.05156 10.2765 9.4902 10.5471 9.76055C10.8176 10.0311 11.2562 10.0311 11.5264 9.76055L15.7971 5.48979C16.0676 5.2194 16.0676 4.78072 15.7971 4.5104L11.5264 0.239447C11.3912 0.104128 11.2139 0.0365696 11.0367 0.0365696C10.8595 0.0365696 10.6823 0.104128 10.5471 0.239447C10.2765 0.509844 10.2765 0.948481 10.5471 1.2188L13.6354 4.30749L0.692634 4.30749C0.310157 4.30749 0 4.6176 0 5.00008C0 5.38256 0.310117 5.69263 0.692634 5.69263Z" fill="white"/></svg>');
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .cm-m-text-h1 {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 36px;
          line-height: 44px;
          letter-spacing: 1px;
          color: $cm-white-1;
        }

        .cm-m-text-h2 {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 1px;
          color: $cm-white-1;
        }

        .cm-m-text-h3 {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.75px;
          color: $cm-white-1;
        }

        .cm-m-text-h4 {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.5px;
          color: $cm-white-1;
        }

        .cm-m-wrap-news {
          min-width: 288px;
          max-width: 532px;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
        }
      }
    }
  }
}

.cm-m-pitch-wrap {
  padding-bottom: 70px;

  .cm-m-vote-btn {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 4;
  }
}

.cm-list-item {
  .cm-m-text-h3 {
    color: $cm-white-1
  }
}

.cm-m-wrap-menu:after {
  content: '';
  display: block;
  background-color: #635faac9 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(5px);
}

.cm-m-pitch-wrap {
  .cm-m-text-h3 {
    color: $cm-white-1 !important;
  }

  .cm-m-text-h4 {
    color: rgba($cm-white-1, 0.72) !important;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.list-fade-enter-active, .list-fade-leave-active {
  transition: opacity .3s ease;
}

.list-fade-enter, .list-fade-leave-to
  /* .component-fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.header-banner-cinemarket {
  height: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  transition: height 0.3s ease;

  &.top {
    height: 64px;
  }

  .header-banner-cinemarket-logo {
    width: 130px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf-8,<svg width="130" height="16" viewBox="0 0 130 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M129.701 0.298977H117.761V5.38166H120.149V2.76557H122.239V9.26841H124.328V13.0057H121.94V15.6965H130V13.0057H127.761V9.26841H125.224V2.76557H127.313V5.38166H129.701V0.298977Z" fill="%239BBA3B"/><path d="M115.672 0.298977H105.523V2.98981H106.792V13.0057H105.523V15.6965H117.911V12.8562H109.851V9.26841H116.269V6.57758H109.851V2.98981H115.672V0.298977Z" fill="%239BBA3B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M64.7776 15.6965H67.688L68.6581 13.0057H67.091L67.3149 12.2582H71.867L72.0909 13.0057H73.5088L74.4789 15.6965H77.6878L76.7923 13.0057H75.2998L72.6133 4.70895H74.1804L72.7625 0.298977H69.7775L68.285 4.70895H66.7179L64.2553 13.0057H65.6731L64.7776 15.6965ZM69.6283 4.48471L68.0611 9.79163H71.27L69.6283 4.48471Z" fill="%239BBA3B"/><path d="M50.7481 2.98981V0.298977H40.7483V4.6342H39.9275V15.6965H50.1511V12.9309H42.9871V9.26841H48.6586V6.57758H42.9871V4.70895H43.6587V2.98981H50.7481Z" fill="%239BBA3B"/><path d="M12.0923 2.98981V5.38166H9.70429V2.69083C9.70429 2.69083 5.15216 1.4949 4.48054 6.80182H3.13728V8.22198C3.13728 10.6886 4.18204 13.7531 8.65954 13.1552V10.4643H11.1968V14.9491C11.1968 14.9491 9.92817 15.9134 7.16704 15.9955C-0.370097 16.2197 0.00302836 7.99775 0.00302836 7.99775C0.00302836 7.99775 -0.295473 -6.40075e-06 7.31629 0C9.92817 0.0670777 11.0475 0.747453 11.0475 0.747453V2.98981H11.943V0.298981H22.8383V2.98981H18.9578V9.5674H20.3011V12.8562H24.1816V15.6965H13.2863V12.8562H17.1668V9.41791H15.8236V2.98981H12.0923Z" fill="%239BBA3B"/><path d="M25.6741 9.4179V15.6965H28.5098V9.5674H29.4053V6.65233L34.4798 15.6965H37.1663V4.7837H38.2111V0.298977H35.2261V4.6342H34.3306V9.5674L29.1815 0.298977H26.4949V9.4179H25.6741Z" fill="%239BBA3B"/><path d="M55.3749 12.7814V15.6965H52.3899V12.7814H50.7481V4.70895H52.3899V0.298977H55.5987L58.136 4.48471L60.7479 0.298977H63.7329V4.70895H62.2404V12.7814H63.7329V15.6965H60.7479V12.7814H59.2554V5.00793L56.7181 9.11892H56.1958L53.7331 5.23217V12.7814H55.3749Z" fill="%239BBA3B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M79.1057 15.6965V13.0057H80.0012V9.56741H79.1057V0.448479C79.1057 0.448479 79.8519 0.224243 83.3593 0.149498C86.8667 0.0747523 89.2547 1.34542 89.2547 4.63422C89.2547 7.92301 86.8667 8.96945 86.8667 8.96945L87.0905 9.56741H88.0607L90.0009 13.0057H89.0308L90.5233 15.6965H87.0905L85.598 13.0057H86.5682L84.7772 9.56741H82.9862V13.0057H82.1653V15.6965H79.1057ZM82.2399 2.84032V7.2503C82.2399 7.2503 86.0458 7.77351 86.1204 4.93319C86.195 2.09287 82.2399 2.84032 82.2399 2.84032Z" fill="%239BBA3B"/><path d="M94.9262 0.298977H91.9412V2.98981H93.1352V13.0057H91.9412V15.6965H94.9262V13.0057H96.1948V9.26841H96.4933L100.225 15.6965H104.03L102.389 13.0057H103.657L100.374 7.62402L103.06 2.98981H101.941L103.433 0.298977H100.001L98.5082 2.98981H99.6276L97.6873 6.57758H96.1948V2.98981H94.9262V0.298977Z" fill="%239BBA3B"/></svg>');
  }
}

.cm-m-wrapper-all-content {
  padding-top: 64px;
}

@mixin pitches-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3274 14.2996L23.6133 9.73223C24.3461 9.19976 23.9676 8.03613 23.0623 8.03613H15.2926L12.8915 0.645994C12.6117 -0.215517 11.388 -0.215151 11.1084 0.645994L8.70738 8.03613H0.937667C0.0318437 8.03613 -0.34572 9.19995 0.386702 9.73223L6.67253 14.2996L4.27147 21.6897C3.9915 22.5514 4.98173 23.2701 5.71416 22.738L12 18.1706L18.2858 22.738C19.0186 23.2705 20.0081 22.5509 19.7283 21.6897L17.3274 14.2996ZM12.5509 16.2533C12.2225 16.0144 11.7775 16.0146 11.449 16.2533L6.94627 19.5249L8.66618 14.2311C8.79161 13.845 8.65428 13.4218 8.32561 13.183L3.82304 9.91131H9.38853C9.79466 9.91131 10.1546 9.64984 10.2801 9.26348L12 3.96972L13.7199 9.26348C13.8453 9.64984 14.2053 9.91131 14.6114 9.91131H20.1769L15.6744 13.183C15.3459 13.4218 15.2084 13.845 15.3338 14.2311L17.0537 19.5249L12.5509 16.2533ZM12.9375 20.8334V23.0625C12.9375 23.5803 12.5178 24 12 24C11.4822 24 11.0625 23.5801 11.0625 23.0625V20.8334C11.0625 20.3155 11.4822 19.8957 12 19.8957C12.5178 19.8957 12.9375 20.3155 12.9375 20.8334ZM23.9273 15.3334C23.7674 15.8258 23.2385 16.0955 22.7461 15.9355L20.6263 15.2466C20.1339 15.0866 19.8644 14.5576 20.0244 14.0652C20.1843 13.5727 20.7131 13.3032 21.2056 13.4632L23.3254 14.152C23.8178 14.3121 24.0873 14.8409 23.9273 15.3334ZM16.7519 3.32135L18.0621 1.51812C18.3664 1.09918 18.9525 1.00635 19.3714 1.31067C19.7904 1.61499 19.8832 2.20129 19.5789 2.62024L18.2688 4.42364C17.963 4.84442 17.3763 4.93396 16.9594 4.6311C16.5405 4.3266 16.4476 3.74029 16.7519 3.32135ZM4.42107 2.62024C4.11674 2.20129 4.20958 1.61499 4.62834 1.31067C5.04729 1.00616 5.63359 1.09918 5.93791 1.51812L7.24803 3.32135C7.55235 3.74029 7.45952 4.3266 7.04057 4.6311C6.62309 4.93451 6.03642 4.84387 5.73119 4.42364L4.42107 2.62024ZM3.97557 14.0652C4.1356 14.5576 3.86607 15.0866 3.3737 15.2466L1.25389 15.9355C0.761519 16.0953 0.23271 15.826 0.0726762 15.3334C-0.0873579 14.8409 0.18199 14.3121 0.674544 14.152L2.79436 13.4632C3.28673 13.3032 3.81554 13.5727 3.97557 14.0652Z" fill="#{$color}"/></svg>');
}

.cm-m-pitches-icon {
  @include pitches-icon('%239BBA3B')
}

@mixin program-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.9238 17.16L17.2039 18.9739V17.169L18.9238 17.16ZM1.83221 4.00939H5.06102V5.25306C5.06102 5.78286 5.46968 6.21388 5.97713 6.21388C6.48458 6.21388 6.89323 5.78286 6.89323 5.25306V4.00939H15.1022V5.25306C15.1022 5.78286 15.5109 6.21388 16.0183 6.21388C16.5258 6.21388 16.9344 5.78286 16.9344 5.25306V4.00939H20.1633V15.2384H16.2878C15.7309 15.2384 15.3627 15.5571 15.3627 16.1992V20.0829H1.83221V4.00939ZM21.0884 2.08775H16.9434V0.960816C16.9434 0.43102 16.5348 0 16.0273 0C15.5199 0 15.1112 0.43102 15.1112 0.960816V2.09224H6.89772V0.960816C6.89772 0.43102 6.48907 0 5.98162 0C5.47417 0 5.06552 0.43102 5.06552 0.960816V2.09224H0.916104C0.408654 2.08775 0 2.51878 0 3.04857V21.0392C0 21.569 0.408654 22 0.916104 22H16.5348C16.7773 22 17.0153 21.8967 17.1859 21.7171L21.735 16.9176C21.9057 16.738 22 16.4955 22 16.2396V3.04857C22.0045 2.51878 21.5958 2.08775 21.0884 2.08775Z" fill="#{$color}"/></svg>');
}

.cm-m-program-icon {
  @include program-icon('%239BBA3B')
}

@mixin guests-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.4829 9.67301C22.8194 7.70457 21.407 5.01045 19.009 5.01045C16.6117 5.01045 15.1989 7.70363 16.5346 9.67222C16.0759 9.93454 15.6769 10.2571 15.333 10.6315C14.4911 9.79509 13.485 9.124 12.3681 8.67074C13.3625 7.7578 13.9869 6.44791 13.9869 4.99482C13.9869 2.24288 11.748 0.00399017 8.99606 0.00399017C6.24412 0.00399017 4.00518 2.24283 4.00518 4.99482C4.00518 6.44796 4.62957 7.75784 5.62395 8.67074C2.32952 10.0077 3.8147e-06 13.2419 3.8147e-06 17.0104C3.8147e-06 17.5548 0.441295 17.9961 0.985657 17.9961C1.53002 17.9961 1.97131 17.5548 1.97131 17.0104C1.97131 13.137 5.12259 9.98565 8.99606 9.98565C12.8695 9.98565 16.0208 13.1369 16.0208 17.0104C16.0208 17.5548 16.4621 17.9961 17.0065 17.9961C17.5508 17.9961 17.9921 17.5548 17.9921 17.0104C17.9921 15.2405 17.4781 13.5886 16.5918 12.1955C17.5704 10.8822 19.071 10.987 19.0122 10.9869C20.6758 10.9887 22.0288 12.3426 22.0288 14.0067V17.0105C22.0288 17.5548 22.4701 17.9961 23.0144 17.9961C23.5588 17.9961 24.0001 17.5548 24.0001 17.0105V14.0067C24 12.1541 22.9855 10.5342 21.4829 9.67301ZM5.97649 4.99482C5.97649 3.32987 7.33106 1.9753 8.99601 1.9753C10.661 1.9753 12.0156 3.32987 12.0156 4.99482C12.0156 6.65982 10.661 8.01435 8.99606 8.01435C7.33111 8.01435 5.97649 6.65978 5.97649 4.99482ZM17.9921 7.99872C17.9921 7.43797 18.4483 6.98176 19.009 6.98176C19.5698 6.98176 20.026 7.43797 20.026 7.99872C20.026 8.55707 19.5723 9.01554 19.0089 9.01554C18.4511 9.01549 17.9921 8.56223 17.9921 7.99872Z" fill="#{$color}"/></svg>');
}

.cm-m-guests-icon {
  @include guests-icon('%239BBA3B')
}

@mixin partners-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.9212 9.54517L19.4211 0.544872C19.2351 0.17436 18.7866 0.025855 18.4145 0.208861L15.4144 1.70891C15.2344 1.79891 15.0994 1.95642 15.0364 2.14692C14.9734 2.33743 14.9914 2.54594 15.0844 2.72444L15.2944 3.13096H13.5004C13.3009 3.13096 13.1104 3.21046 12.9694 3.34996L12.2703 4.05049L10.8798 3.23446C10.7658 3.16696 10.6338 3.13096 10.5003 3.13096H8.70623L8.91623 2.72594C9.00774 2.54744 9.02574 2.33893 8.96424 2.14842C8.90123 1.95792 8.76473 1.80041 8.58622 1.71041L5.58613 0.210361C5.21562 0.0258549 4.7641 0.17436 4.5796 0.544872L0.0794511 9.54517C-0.103555 9.90968 0.0404499 10.3537 0.400461 10.5442L3.24455 12.0442C3.35256 12.1012 3.47256 12.1313 3.59406 12.1313C3.66907 12.1313 3.74557 12.1192 3.81757 12.0967C4.00808 12.0367 4.16708 11.9032 4.26009 11.7262L4.50159 11.2597L9.73976 15.1358C10.4043 15.6249 11.1963 15.8694 11.9868 15.8694C12.7894 15.8694 13.5919 15.6174 14.2564 15.1103L19.4331 11.1352L19.7391 11.7262C19.8321 11.9032 19.9896 12.0367 20.1816 12.0967C20.2551 12.1192 20.3316 12.1313 20.4066 12.1313C20.5281 12.1313 20.6481 12.1012 20.7561 12.0442L23.6002 10.5442C23.9602 10.3537 24.1027 9.90968 23.9212 9.54517ZM3.27605 10.3657L1.749 9.56017L5.58613 1.88742L7.23468 2.71244L6.78617 3.57797C6.78317 3.58397 6.78017 3.58847 6.77717 3.59447L3.27605 10.3657ZM13.3474 13.9193C12.5584 14.5193 11.4408 14.5253 10.6323 13.9283L5.20062 9.90968L7.9307 4.63101H10.2963L11.1738 5.14702L8.46922 7.85011C8.19621 8.12462 8.17521 8.56263 8.42272 8.85964L9.00924 9.56617C9.69026 10.3852 10.8588 10.6177 11.7783 10.1272L13.4164 9.27216L16.358 11.6077L13.3474 13.9193ZM17.5835 10.6657L13.9669 7.79311C13.7344 7.6101 13.4164 7.5801 13.1539 7.71661L11.0763 8.79964C10.7808 8.95865 10.3863 8.87464 10.1628 8.60764L10.0143 8.42763L13.8109 4.63101H16.07L18.734 9.78217L17.5835 10.6657ZM20.7246 10.3657L17.222 3.59447C17.219 3.58847 17.216 3.58397 17.213 3.57797L16.7645 2.71244L18.4145 1.88742L22.2517 9.56017L20.7246 10.3657Z" fill="#{$color}"/></svg>
');
}

.cm-m-partners-icon {
  @include partners-icon('%239BBA3B')
}

@mixin organization-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.122 20.0033C10.8459 19.7777 10.4643 19.7309 10.1432 19.8822C10.0948 19.905 9.93795 19.9701 9.52898 20.0832C9.25746 20.1578 9.02292 20.1957 8.83154 20.1957C8.44136 20.1957 8.25799 20.1442 8.19481 20.1217C8.17816 20.0708 8.15104 19.954 8.15104 19.7334C8.15104 19.6594 8.16029 19.435 8.24843 18.9496C8.31439 18.5727 8.39082 18.2315 8.47742 17.9307L9.61219 13.9131C9.74163 13.4857 9.83101 13.0135 9.87724 12.5111C9.92193 12.0424 9.94319 11.7098 9.94319 11.495C9.94319 10.3744 9.53823 9.44492 8.73939 8.73176C7.97137 8.04634 6.90748 7.69869 5.57701 7.69869C4.87278 7.69869 4.12418 7.82289 3.35277 8.06791C2.6507 8.29012 1.90333 8.56225 1.13131 8.87661C0.856706 8.98818 0.652681 9.22487 0.582105 9.51272L0.27576 10.7615C0.194089 11.0938 0.302881 11.4439 0.558374 11.6716C0.813251 11.8991 1.17353 11.9672 1.49498 11.8488C1.71718 11.7665 1.96651 11.6843 2.23649 11.6047C2.46425 11.5376 2.68214 11.5034 2.88462 11.5034C3.21562 11.5034 3.38667 11.5413 3.46033 11.5644C3.4782 11.6217 3.5044 11.744 3.5044 11.9669C3.5044 12.1946 3.47574 12.452 3.41811 12.7352C3.35524 13.0517 3.2748 13.395 3.17772 13.7677L2.03339 17.8173C2.03 17.8293 2.02692 17.8414 2.02384 17.8537C1.91597 18.3049 1.83553 18.7197 1.78468 19.088C1.73321 19.4628 1.70732 19.8388 1.70732 20.2046C1.70732 21.3101 2.12338 22.2365 2.94472 22.9595C3.73154 23.6499 4.80652 24 6.13977 24C6.96265 24 7.70416 23.8872 8.34336 23.6647C8.90889 23.4684 9.65873 23.1861 10.5713 22.8255C10.8502 22.7155 11.0585 22.4766 11.13 22.1854L11.4352 20.9378C11.5193 20.5926 11.3979 20.2286 11.122 20.0033ZM8.0367 12.3392C8.00157 12.7198 7.93623 13.0693 7.83792 13.3947L6.69976 17.4241C6.5962 17.7837 6.50436 18.1899 6.42824 18.6257C6.34348 19.0932 6.30219 19.4557 6.30219 19.7337C6.30219 20.5593 6.53796 21.1692 7.00549 21.5496C7.20705 21.712 7.45206 21.834 7.74454 21.916C7.74176 21.9169 7.73868 21.9178 7.73621 21.9191C7.29211 22.0735 6.75462 22.1518 6.13915 22.1518C5.26789 22.1518 4.60311 21.9561 4.16486 21.5714C3.74942 21.2056 3.55587 20.7717 3.55587 20.2052C3.55587 19.9226 3.57621 19.6314 3.61597 19.3407C3.65788 19.0378 3.72568 18.6886 3.81753 18.3021L4.96154 14.2537C5.0728 13.8281 5.16125 13.4499 5.23091 13.1007C5.31227 12.7001 5.35357 12.3188 5.35357 11.9675C5.35357 11.1896 5.14954 10.6003 4.74581 10.2151C4.55257 10.0314 4.30879 9.89365 4.01046 9.80058C4.56521 9.63323 5.09191 9.54817 5.57731 9.54817C6.43964 9.54817 7.08962 9.7377 7.50815 10.1115C7.90819 10.4684 8.09434 10.9079 8.09434 11.495C8.09434 11.5822 8.08694 11.8069 8.0367 12.3392Z" fill="#{$color}"/><path d="M8.11036 6.93961C9.09689 6.93961 9.9549 6.60583 10.6582 5.94969C11.3729 5.28676 11.7511 4.43091 11.7511 3.47551C11.7511 2.51086 11.3849 1.67781 10.6625 0.998857C9.95644 0.33624 9.09812 0 8.11067 0C7.1226 0 6.2615 0.335007 5.55081 0.996392C4.8321 1.66671 4.4521 2.5238 4.4521 3.4752C4.4521 4.43122 4.83364 5.28769 5.5545 5.95123C6.26489 6.60707 7.12506 6.93961 8.11036 6.93961ZM6.81101 2.34967C7.17776 2.0085 7.59043 1.84917 8.11036 1.84917C8.62627 1.84917 9.03494 2.00727 9.39645 2.34659C9.74101 2.6705 9.90189 3.02924 9.90189 3.4752C9.90189 3.92115 9.74255 4.27681 9.39861 4.59579C9.0371 4.93326 8.62781 5.09014 8.11036 5.09014C7.59013 5.09014 7.17653 4.93172 6.80731 4.59148C6.46183 4.27342 6.30064 3.91869 6.30064 3.4752C6.30064 3.03171 6.46337 2.67389 6.81101 2.34967Z" fill="#{$color}"/></svg>');
}

.cm-m-organization-icon {
  @include organization-icon('%239BBA3B')
}

@mixin news-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.2188 2.96875H17.0312V0.78125C17.0312 0.349731 16.6815 0 16.25 0H0.78125C0.349731 0 0 0.349731 0 0.78125V16.25C0 18.3177 1.68228 20 3.75 20H16.25C18.3177 20 20 18.3177 20 16.25V3.75C20 3.31848 19.6503 2.96875 19.2188 2.96875ZM15.4688 18.4375H3.75C2.54379 18.4375 1.5625 17.4562 1.5625 16.25V1.5625H15.4688V18.4375ZM18.4375 16.25C18.4375 17.1811 17.8528 17.9782 17.0312 18.2933V4.53125H18.4375V16.25ZM5.23438 10.3906H11.7969C12.2284 10.3906 12.5781 10.0409 12.5781 9.60938V4.14062C12.5781 3.70911 12.2284 3.35938 11.7969 3.35938H5.23438C4.80286 3.35938 4.45312 3.70911 4.45312 4.14062V9.60938C4.45312 10.0409 4.80286 10.3906 5.23438 10.3906ZM6.01562 4.92188H11.0156V8.82812H6.01562V4.92188ZM2.96875 12.7344C2.96875 12.3029 3.31848 11.9531 3.75 11.9531H13.2812C13.7128 11.9531 14.0625 12.3029 14.0625 12.7344C14.0625 13.1659 13.7128 13.5156 13.2812 13.5156H3.75C3.31848 13.5156 2.96875 13.1659 2.96875 12.7344ZM2.96875 15.8594C2.96875 15.4279 3.31848 15.0781 3.75 15.0781H13.2812C13.7128 15.0781 14.0625 15.4279 14.0625 15.8594C14.0625 16.2909 13.7128 16.6406 13.2812 16.6406H3.75C3.31848 16.6406 2.96875 16.2909 2.96875 15.8594Z" fill="#{$color}"/></svg>');
}

.cm-m-news-icon {
  @include news-icon('%239BBA3B')
}

@mixin contacts-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 5.15915C9.54318 5.15915 7.54439 7.15795 7.54439 9.61476C7.54439 12.0716 9.54318 14.0704 12 14.0704C14.4568 14.0704 16.4556 12.0716 16.4556 9.61476C16.4556 7.15795 14.4569 5.15915 12 5.15915ZM12 12.1943C10.5776 12.1943 9.42042 11.0371 9.42042 9.61476C9.42042 8.19238 10.5776 7.03518 12 7.03518C13.4224 7.03518 14.5796 8.19238 14.5796 9.61476C14.5796 11.0371 13.4224 12.1943 12 12.1943Z" fill="#{$color}"/><path d="M12 0C6.69838 0 2.38522 4.3132 2.38522 9.61477V9.88055C2.38522 12.5618 3.92244 15.6863 6.95432 19.1671C9.15219 21.6905 11.3194 23.45 11.4105 23.5237C11.7544 23.8015 12.2456 23.8016 12.5895 23.5237C12.6807 23.45 14.8478 21.6905 17.0457 19.1671C20.0775 15.6863 21.6148 12.5618 21.6148 9.88059V9.61481C21.6148 4.3132 17.3016 0 12 0ZM19.7387 9.88059C19.7387 14.1773 14.489 19.3317 12.3253 21.2734C12.1387 21.4409 11.8613 21.4409 11.6747 21.2734C9.51065 19.3314 4.26125 14.177 4.26125 9.88059V9.61481C4.26125 5.34769 7.73286 1.87608 12 1.87608C16.2671 1.87608 19.7387 5.34769 19.7387 9.61481V9.88059Z" fill="#{$color}"/></svg>');
}

.cm-m-contacts-icon {
  @include contacts-icon('%239BBA3B')
}

@mixin logout-icon($color) {
  background-image: url('data:image/svg+xml;utf-8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8118 9.69533C19.8197 9.68568 19.8266 9.67553 19.834 9.66565C19.8428 9.65377 19.852 9.64217 19.8603 9.62983C19.8682 9.61799 19.8751 9.60569 19.8824 9.5935C19.889 9.58233 19.896 9.57143 19.9022 9.55991C19.9088 9.54748 19.9145 9.53471 19.9204 9.52205C19.9261 9.51006 19.9321 9.49827 19.9372 9.486C19.9422 9.4737 19.9463 9.46116 19.9508 9.44866C19.9556 9.43549 19.9606 9.42248 19.9647 9.40901C19.9685 9.39651 19.9713 9.38381 19.9744 9.3712C19.9779 9.35749 19.9817 9.34393 19.9845 9.32995C19.9874 9.3153 19.9891 9.30053 19.9912 9.28581C19.9929 9.27366 19.9953 9.26167 19.9965 9.24936C20.0019 9.19467 20.0019 9.13956 19.9965 9.08487C19.9953 9.07257 19.993 9.06061 19.9912 9.04846C19.9891 9.0337 19.9874 9.01893 19.9845 9.00432C19.9817 8.99034 19.9779 8.97682 19.9744 8.96311C19.9712 8.95046 19.9685 8.93776 19.9647 8.92526C19.9606 8.91183 19.9556 8.89882 19.9508 8.88569C19.9463 8.87319 19.9422 8.86062 19.9372 8.84831C19.9321 8.83605 19.9261 8.82425 19.9204 8.8123C19.9145 8.7996 19.9088 8.78683 19.9022 8.77441C19.8961 8.76292 19.889 8.75202 19.8824 8.74085C19.8751 8.72866 19.8683 8.71636 19.8603 8.70448C19.8521 8.69218 19.8429 8.68058 19.834 8.66874C19.8266 8.65882 19.8197 8.64863 19.8118 8.63898C19.7945 8.61792 19.7763 8.59765 19.757 8.57839C19.7569 8.57824 19.7567 8.57808 19.7566 8.57792L17.2566 6.07795C16.9312 5.75252 16.4035 5.75252 16.0781 6.07795C15.7527 6.40337 15.7527 6.93103 16.0781 7.25645L17.1555 8.33386H12.5007C12.0405 8.33386 11.6674 8.70694 11.6674 9.16717C11.6674 9.6274 12.0405 10.0005 12.5007 10.0005H17.1555L16.0781 11.0779C15.7526 11.4033 15.7526 11.931 16.0781 12.2564C16.4035 12.5818 16.9311 12.5818 17.2566 12.2564L19.7565 9.75643C19.7567 9.75627 19.7568 9.75611 19.757 9.75596C19.7763 9.73666 19.7945 9.71643 19.8118 9.69533Z" fill="#{$color}"/><path d="M14.1674 11.6668C13.7072 11.6668 13.3341 12.0399 13.3341 12.5001V16.6667H10.0008V3.33387V3.33356C10.0008 2.96556 9.75939 2.64111 9.40693 2.53537L6.51204 1.6669H13.3341V5.83354C13.3341 6.29377 13.7072 6.66685 14.1674 6.66685C14.6277 6.66685 15.0007 6.29377 15.0007 5.83354V0.833587C15.0007 0.373358 14.6277 0.000275604 14.1674 0.000275604H0.834202C0.834124 0.000275604 0.834046 0.000275604 0.833968 0.000275604C0.80932 0.000236542 0.784906 0.00140841 0.760687 0.00351776C0.378425 0.0323456 0.129248 0.283788 0.0387022 0.583981C0.032882 0.602652 0.0278039 0.621715 0.0232727 0.641011C0.0228039 0.643082 0.0224133 0.645191 0.0219446 0.6473C0.0174524 0.667144 0.0137025 0.6873 0.0106166 0.707729C0.0101869 0.71062 0.00971813 0.713471 0.00928844 0.716362C0.00667128 0.734995 0.00460099 0.753862 0.00323381 0.772963C0.000811963 0.803744 6.97833e-05 0.834603 0.000851026 0.865462V17.5004C0.000851026 17.8976 0.281239 18.2397 0.670766 18.3176L9.004 19.9842C9.51966 20.0873 10.0008 19.6929 10.0008 19.1671V18.3334H14.1674C14.6276 18.3334 15.0007 17.9603 15.0007 17.5001V12.5001C15.0007 12.0399 14.6276 11.6668 14.1674 11.6668ZM8.33413 18.1506L1.66751 16.8173V1.95393L8.33413 3.95391V17.5001V18.1506Z" fill="#{$color}"/></svg>');
}

.cm-m-logout-icon {
  @include logout-icon('%239BBA3B')
}

.cm-m-index-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cm-m-link {
  .cm-m-link-icon {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  width: 86px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cm-m-social-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .cm-m-social-block {
    margin-right: 16px;
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: $cm-green;
    align-items: center;
    justify-content: center;
  }
}


html.cinemarket-page {
  body {
    background-color: $cm-violet;
  }
  background-color: $cm-violet;
}

.cm-m-map-link {
  background-color: #9BBA3B;
  color: $cm-white-1;
  margin: 8px auto;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.75px;
}
