.section__counter_responses {
	display: inline-block;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	color: $lm-gray-3;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.3px;
	margin-left: 8px;
}

