.section__button_close_verification-specialist {
	background-color: transparent;
	border: none;
	padding: 8px;
	position: absolute;
	right: 29px;
	top: 29px;
	width: auto;
	height: auto;
	margin-right: 0;
}

